Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

prepare-raspberry-pi-build:
  name: Prepare raspberry_pi compile_commands
  entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-raspberry-pi:
  name: clang-tidy (raspberry_pi)
  entry: clang-tidy
  language: system
  args:
  - -p=raspberry_pi/build
  stages:
  - pre-push
  pass_filenames: true

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - scripts
  - web
  - tests/python
  stages:
  - pre-push
  pass_filenames: false

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Notify after successful ALSA open
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
Due: none

Add ALSA capture format fallback negotiation
  raspberry_pi/include/AlsaCapture.h
  raspberry_pi/src/AlsaCapture.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_alsa_capture.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

fix: docker
  raspberry_pi/Dockerfile
  raspberry_pi/docker-compose.yml
Due: none

#630 jetson-pcm-receiverのDocker対応と環境変数設定対応
  docker/README.md
  docker/jetson_pcm_receiver/Dockerfile.jetson
  docker/jetson_pcm_receiver/README.md
  docker/jetson_pcm_receiver/docker-compose.jetson.yml
  docker/jetson_pcm_receiver/entrypoint.sh
  docker/local/pipewire/README.md
  docker/local/pipewire/docker-compose.yml
  docker/local/raspi-simulation/README.md
  docker/local/raspi-simulation/docker-compose.yml
  docker/raspi/Dockerfile.rtp-sender
  jetson_pcm_receiver/CMakeLists.txt
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/app_options.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/app_options.cpp
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/tests/test_app_options.cpp
Due: none

fix: detect mid-stream format change and report status
  jetson_pcm_receiver/include/status_tracker.h
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/status_tracker.cpp
  jetson_pcm_receiver/src/zmq_status_server.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_zmq_status_server.cpp
Due: none

fix: detect mid-stream format mismatch and surface reason
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: none

fix: remove false-positive frame misalignment check
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: none

fix: drop stream on xrun storm
  jetson_pcm_receiver/CMakeLists.txt
  jetson_pcm_receiver/include/alsa_playback.h
  jetson_pcm_receiver/include/xrun_detector.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/xrun_detector.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_xrun_detector.cpp
Due: none

#683 Remove RTP/PipeWire/Input Mode completely
  config.json
  docs/api/openapi.json
  tests/python/test_input_mode_api.py
  tests/python/test_pipewire.py
  tests/python/test_rate_auto_negotiation_e2e.py
  tests/python/test_rest_api_design.py
  tests/python/test_rtp_api.py
  tests/python/test_rtp_ui.py
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/daemon.py
  web/routers/input_mode.py
  web/routers/rtp.py
  web/routers/status.py
  web/services/__init__.py
  web/services/config.py
  web/services/daemon.py
  web/services/daemon_client.py
  web/services/pipewire.py
  web/services/rtp.py
  web/static/js/rtp_management.js
  web/templates/__init__.py
  web/templates/pages/rtp_management.html
  web/tests/test_models.py
Due: mypy, export-openapi

#678 受信ヘッダ検証を共通フォーマット定義で統一
  include/audio/pcm_format_set.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/pcm_header.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_header.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
  src/auto_negotiation.cpp
  tests/cpp/test_rate_family.cpp
Due: none

#683 Remove remaining RTP/PipeWire/InputMode UI references
  docs/api/openapi.json
  web/i18n.py
  web/routers/daemon.py
  web/templates/admin.py
  web/templates/rtp.py
  web/templates/user.py
Due: mypy, export-openapi

Handle pcm client restarts in receiver
  jetson_pcm_receiver/include/status_tracker.h
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/status_tracker.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: none

#680 Fail fast on frame byte mismatch
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: none

#680 tighten frame mismatch detection
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: none

#697 disable rtp config and document tcp rate handling
  config.json
  docker/README.md
  docker/jetson/config.docker.json
  jetson_pcm_receiver/README.md
  tests/cpp/test_config_loader.cpp
Due: none

Complete removal of RTP/PipeWire/InputMode functionality
  web/constants.py
  web/error_codes.py
  web/i18n.py
  web/models.py
  web/services/config.py
  web/templates/admin.py
  web/templates/components/sidebar.html
  web/templates/pages.py
  web/templates/user.py
  web/tests/test_i18n.py
Due: mypy, export-openapi

Fix test_error_codes.py for removed RTP error codes
  tests/python/test_error_codes.py
Due: mypy

Remove RTP and PipeWire configuration from Jetson Docker config
  docker/jetson/config.docker.json
Due: none

Add TCP input models and telemetry poller
  web/models.py
  web/services/__init__.py
  web/services/tcp_input.py
  web/tests/test_models.py
  web/tests/test_tcp_input_service.py
Due: mypy, export-openapi

Fix typing for TCP input models and poller
  web/models.py
  web/services/tcp_input.py
Due: mypy, export-openapi

Tighten TCP input port typing for mypy
  web/models.py
Due: mypy, export-openapi

WIP: drop pipewire/rtp wiring (refs #627)
  CMakeLists.txt
  include/config_loader.h
  include/daemon/api/dependencies.h
  include/daemon/control/control_plane.h
  include/daemon/shutdown_manager.h
  src/alsa_daemon.cpp
  src/config_loader.cpp
  src/daemon/control/control_plane.cpp
  src/daemon/shutdown_manager.cpp
Due: none

Add TCP input ZeroMQ commands
  web/services/daemon_client.py
  web/tests/test_daemon_client_tcp_commands.py
Due: mypy, export-openapi

#705 PipeWire/RTP 削除の第一弾
  CMakeLists.txt
  docs/setup/quick_start.md
  include/daemon/control/control_plane.h
  include/daemon/rtp/rtp_engine_coordinator.h
  include/daemon/rtp/rtp_session_manager.h
  include/daemon/shutdown_manager.h
  include/error_codes.h
  include/zeromq_interface.h
  src/alsa_daemon.cpp
  src/config_loader.cpp
  src/daemon/control/control_plane.cpp
  src/daemon/input/pipewire_input.cpp
  src/daemon/input/pipewire_input.h
  src/daemon/input/rtp_input_adapter.cpp
  src/daemon/input/rtp_input_adapter.h
  src/daemon/pipewire_support.h
  src/daemon/rtp/rtp_engine_coordinator.cpp
  src/daemon/rtp/rtp_session_manager.cpp
  src/daemon/shutdown_manager.cpp
  src/error_codes.cpp
  src/pipewire_daemon.cpp
  src/zeromq_interface.cpp
  tests/cpp/daemon/test_daemon_skeleton.cpp
  tests/cpp/test_config_loader.cpp
  tests/cpp/test_rtp_discovery.cpp
  tests/cpp/test_rtp_session_manager.cpp
  tests/cpp/test_zeromq_interface.cpp
Due: none

#702 OPRA適用時の自動リロードとUI再起動対応
  web/routers/opra.py
  web/templates/pages/dashboard.html
  web/templates/pages/eq_settings.html
Due: mypy, export-openapi

#686 TCP入力APIエンドポイントを追加
  docs/api/openapi.json
  web/main.py
  web/routers/__init__.py
  web/routers/tcp_input.py
  web/tests/test_tcp_input_router.py
Due: mypy, export-openapi

#686 TCPテレメトリポーラーの型を修正
  web/main.py
Due: mypy, export-openapi

#701 Modern Target補正のフィルタ表示修正
  web/services/eq.py
  web/templates/pages/eq_settings.html
  web/tests/test_eq_service.py
  web/tests/test_eq_settings_page.py
Due: mypy, export-openapi

Remove PipeWire/RTP artifacts and align docs to ALSA/TCP
  AGENTS.md
  CLAUDE.md
  CMakeLists.txt
  GEMINI.md
  INSTALL.md
  README.md
  docker/README.md
  docs/architecture/rate-negotiation-handshake.md
  docs/architecture/rtp-highres-support.md
  docs/architecture/rtp_session_manager.md
  docs/architecture/two_stage_fir_pipeline.md
  docs/dev/daemon_refactor_guide.md
  docs/investigations/279-crossfeed-heap-corruption.md
  docs/investigations/clip_headroom.md
  docs/investigations/crackling_noise_investigation.md
  docs/investigations/low_latency_partition_validation.md
  docs/jetson/usb-gadget/known-issues.md
  docs/roadmap.md
  docs/setup/README.md
  docs/setup/build.md
  docs/setup/local/pipewire_development.md
  docs/setup/pc_development.md
  docs/setup/web_ui.md
  include/daemon_constants.h
  scripts/daemon.sh
  scripts/pi/setup-dev-bridge.sh
  scripts/raspi/rtp_sender.py
  scripts/setup-system.sh
  src/alsa_daemon.cpp
  src/gpu/gpu_upsampler_streaming.cu
  systemd/gpu-upsampler.service.in
  tmp/issue_low_latency_core.md
Due: mypy

#699 Docker設定の永続化とリセット対応
  docker/README.md
  docker/jetson/Dockerfile.jetson
  docker/jetson/config.docker.json
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
  tests/python/test_docker_config_init.py
Due: mypy

#687 TCP入力UIページを追加
  docs/api/openapi.json
  web/i18n.py
  web/main.py
  web/models.py
  web/services/tcp_input.py
  web/static/js/tcp_input.js
  web/templates/components/buttons.html
  web/templates/components/card_panel.html
  web/templates/components/sidebar.html
  web/templates/components/slider_input.html
  web/templates/pages.py
  web/templates/pages/tcp_input.html
  web/tests/test_tcp_input_page.py
  web/tests/test_tcp_input_service.py
Due: mypy, export-openapi

#687 TCP入力UIの細部修正
  web/static/js/tcp_input.js
  web/templates/pages/tcp_input.html
Due: none

#699 configの自動復旧とバックアップ追加
  docker/README.md
  docker/jetson/entrypoint.sh
  tests/python/test_docker_config_init.py
Due: mypy

#699 モダンターゲット検出とTCPポーラー修正
  web/services/eq.py
  web/services/tcp_input.py
Due: mypy, export-openapi

#646 journaldローテーション設定と検証テスト追加
  docs/jetson/README.md
  docs/jetson/logging/journald.md
  docs/jetson/systemd/service-design.md
  systemd/journald.conf.d/magicbox.conf
  tests/python/test_journald_config.py
Due: mypy

#646 journaldテストのmypy対応
  tests/python/test_journald_config.py
Due: mypy

#699 モダンターゲットの2バンド検出を復元
  web/services/eq.py
Due: mypy, export-openapi

#646 journaldテストのoptionxform設定調整
  tests/python/test_journald_config.py
Due: mypy

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  mypy: any of: \.py$
  export-openapi: any of: ^web/.*\.py$
