Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

prepare-raspberry-pi-build:
  name: Prepare raspberry_pi compile_commands
  entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-raspberry-pi:
  name: clang-tidy (raspberry_pi)
  entry: clang-tidy
  language: system
  args:
  - -p=raspberry_pi/build
  stages:
  - pre-push
  pass_filenames: true

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - scripts
  - web
  - tests/python
  stages:
  - pre-push
  pass_filenames: false

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(#996): add OPRA sync admin API
  docs/api/openapi.json
  scripts/integration/opra.py
  scripts/integration/opra_cache.py
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/opra_sync.py
  web/services/admin_auth.py
  web/services/opra_sync.py
  web/tests/test_opra_sync_router.py
Due: mypy, export-openapi

fix(#996): restore DEFAULT_OPRA_PATH
  scripts/integration/opra.py
Due: mypy

fix(#996): switch OPRA admin auth to Basic
  docs/api/openapi.json
  web/main.py
  web/routers/opra_sync.py
  web/services/admin_auth.py
  web/tests/test_opra_sync_router.py
Due: mypy, export-openapi

Fix #1014: add delimiter safety controller
  CMakeLists.txt
  include/daemon/app/runtime_state.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/metrics/runtime_stats.h
  include/delimiter/safety_controller.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/metrics/runtime_stats.cpp
  src/delimiter/safety_controller.cpp
  tests/cpp/delimiter/test_safety_controller.cpp
Due: none

Fix #1065: Pi Control API の到達性を改善
  docker/jetson/docker-compose.jetson.yml
  docs/api/README.md
  raspberry_pi/README.md
  raspberry_pi/control_api.py
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  web/routers/pi.py
  web/services/pi_client.py
  web/templates/pages/pi_settings.html
Due: mypy, export-openapi

Fix #1068: /system UIとstatusデバッグ情報を整備
  docs/api/openapi.json
  src/daemon/metrics/runtime_stats.cpp
  web/i18n.py
  web/models.py
  web/routers/daemon.py
  web/routers/status.py
  web/services/config.py
  web/services/daemon.py
  web/templates/components/buttons.html
  web/templates/pages/system_settings.html
  web/tests/test_models.py
  web/tests/test_system_settings_page.py
Due: mypy, export-openapi

fix(#996): remove opra sync auth
  docs/api/openapi.json
  web/main.py
  web/routers/opra_sync.py
  web/services/admin_auth.py
  web/tests/test_opra_sync_router.py
Due: mypy, export-openapi

Fix #1014: report delimiter config fallback
  src/daemon/audio_pipeline/audio_pipeline.cpp
  tests/cpp/daemon/test_runtime_stats.cpp
Due: none

Fix #942: raspi-control-api の bind 自動検出を強化
  raspberry_pi/README.md
  raspberry_pi/control_api.py
  raspberry_pi/docker-compose.yml
  raspberry_pi/tests/test_control_api_bind.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
Due: mypy

Fix #942: raspi-control-api 起動時のbind待ちを追加
  raspberry_pi/control_api.py
Due: mypy

Fix #942: raspi-control-api の import 依存で落ちる問題を解消
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy

Fix #942: raspi-control-api の zmq 依存クラッシュを回避
  raspberry_pi/tests/test_control_api_imports.py
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy

Add output buffer stats and monitoring
  include/daemon/metrics/runtime_stats.h
  scripts/watch_buffer.py
  src/alsa_daemon.cpp
  src/daemon/control/control_plane.cpp
  src/daemon/metrics/runtime_stats.cpp
  tests/cpp/daemon/test_runtime_stats.cpp
Due: mypy

Fix runtime stats test after rebase
  tests/cpp/daemon/test_runtime_stats.cpp
Due: none

fix: low latency
  raspberry_pi/.env
  raspberry_pi/control_api/Dockerfile
  web/templates/pages/pi_settings.html
Due: none

fix: low latency
  web/templates/pages/pi_settings.html
Due: none

fix: low latency
  web/i18n.py
Due: mypy, export-openapi

fix: low latency
  web/i18n.py
  web/templates/pages/pi_settings.html
Due: mypy, export-openapi

fix: guard DAC selection and lock UI to dropdown
  web/templates/pages/system_settings.html
  web/tests/test_system_settings_page.py
Due: mypy, export-openapi

fix: enable Pi→Jetson peer status reporting by default (#1079)
  raspberry_pi/README.md
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  web/i18n.py
Due: mypy, export-openapi

Fix #997: add OPRA sync UI on System page
  web/i18n.py
  web/templates/pages/system_settings.html
Due: mypy, export-openapi

Fix #997: move OPRA sync UI to EQ page
  web/i18n.py
  web/templates/pages/eq_settings.html
  web/templates/pages/system_settings.html
  web/tests/test_eq_settings_page.py
Due: mypy, export-openapi

Fix #1015: De-limiter streamingベンチマーク追加
  docs/specifications/delimiter_streaming_chunking.md
  pyproject.toml
  scripts/delimiter/benchmark_streaming.py
  tests/python/test_delimiter_benchmark.py
  uv.lock
Due: mypy

fix: DaemonステータスAPIの欠損フィールド
  docs/api/openapi.json
  scripts/delimiter/benchmark_streaming.py
  web/models.py
  web/routers/daemon.py
Due: mypy, export-openapi

fix: sync DAC dropdown to active device until user changes
  web/templates/pages/system_settings.html
  web/tests/test_system_settings_page.py
Due: mypy, export-openapi

Fix #998: persist OPRA cache volume on Jetson
  docker/README.md
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
  docs/specifications/opra-sync.md
Due: none

feat: add delimiter control and status telemetry
  include/daemon/app/runtime_state.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/control/control_plane.h
  include/daemon/metrics/runtime_stats.h
  include/delimiter/safety_controller.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/control/control_plane.cpp
  src/daemon/metrics/runtime_stats.cpp
  src/delimiter/safety_controller.cpp
Due: none

Fix #999: prefer OPRA cache over submodule
  scripts/integration/opra.py
  tests/python/test_opra.py
Due: mypy

chore: add delimiter status tests
  tests/cpp/daemon/test_runtime_stats.cpp
  tests/cpp/delimiter/test_safety_controller.cpp
Due: none

Fix #999: refine OPRA sync messaging and cache init
  docker/jetson/entrypoint.sh
  tests/python/test_opra.py
Due: mypy

Remove obsolete crossfeed low latency warnings
  web/i18n.py
  web/templates/pages/dashboard.html
  web/tests/test_components.py
  web/tests/test_i18n.py
Due: mypy, export-openapi

Simplify OPRA sync UI on EQ page
  web/i18n.py
  web/templates/pages/eq_settings.html
Due: mypy, export-openapi

feat: add delimiter control API and web UI
  config.json
  docs/api/openapi.json
  web/error_codes.py
  web/i18n.py
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/delimiter.py
  web/routers/status.py
  web/services/daemon.py
  web/services/daemon_client.py
  web/templates/pages/system_settings.html
  web/tests/test_delimiter_router.py
Due: mypy, export-openapi

Remove OPRA submodule fallback and add cache fixture
  .gitmodules
  NOTICE.md
  THIRD_PARTY_LICENSES.md
  docs/specifications/opra-sync.md
  scripts/integration/opra.py
  tests/python/fixtures/opra/database_v1.sample.jsonl
  tests/python/test_opra.py
Due: mypy

feat: move delimiter controls to dedicated page
  docs/api/openapi.json
  web/i18n.py
  web/main.py
  web/templates/components/sidebar.html
  web/templates/pages.py
  web/templates/pages/delimiter.html
  web/templates/pages/system_settings.html
  web/tests/test_delimiter_page.py
Due: mypy, export-openapi

chore: rename delimiter UI to AI loudness care
  web/i18n.py
  web/tests/test_delimiter_page.py
Due: mypy, export-openapi

Finish removing OPRA submodule and fix fixture docs
  THIRD_PARTY_LICENSES.md
  docs/specifications/opra-sync.md
Due: none

fix: etc
  config.json
  data/EQ/KB5000_7_any_frequency.txt
Due: none

Docs: #1096 De-Limiter model selection & SR strategy
  docs/specifications/delimiter_model_sr_strategy_1096.md
  docs/specifications/delimiter_streaming_chunking.md
Due: none

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  mypy: any of: \.py$
  export-openapi: any of: ^web/.*\.py$
