Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

.pre-commit-config.yaml:

# Pre-commit hooks for C++/CUDA project
#
# Install hooks:
#   uv run pre-commit install
#   uv run pre-commit install --hook-type pre-push
#
# Run all (manually):
#   uv run pre-commit run --all-files

repos:
  # clang-format for C/C++/CUDA formatting
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        types_or: [c, c++]
        files: \.(c|cpp|h|hpp|cu|cuh)$

  # clang-tidy for C/C++ static analysis (pre-push only - heavy)
  # Note: Only .cpp files targeted (headers analyzed transitively)
  # CUDA projects have incompatible compile flags for clang-tidy
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args: [-p=build]
        files: \.(c|cpp)$
        exclude: ^build/|^raspberry_pi/
        stages: [pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=35000']  # 35MB - HRTF filters are ~32MB each

  # Python formatting (for web API and scripts)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Secret detection (prevent accidental commits of API keys, tokens, etc.)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Pre-push: Type checking with mypy
  # Uses system Python to access project dependencies
  - repo: local
    hooks:
      - id: prepare-raspberry-pi-build
        name: Prepare raspberry_pi compile_commands
        entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
        language: system
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        pass_filenames: false
        stages: [pre-push]
      - id: clang-tidy-raspberry-pi
        name: clang-tidy (raspberry_pi)
        entry: clang-tidy
        language: system
        types_or: [c, c++]
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        args: [-p=raspberry_pi/build]
        stages: [pre-push]
        pass_filenames: true
      - id: mypy
        name: mypy type checker
        entry: uv run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml, scripts, web, tests/python]
        stages: [pre-push]
        pass_filenames: false

  # Pre-push: Diff-based tests
  # Only runs tests relevant to changed files
  - repo: local
    hooks:
      - id: diff-based-tests
        name: Run diff-based tests
        entry: ./scripts/run_tests.sh
        language: system
        stages: [pre-push]
        pass_filenames: false
        always_run: true

  # OpenAPI spec export (pre-commit, web/ changes only)
  # Generates docs/api/openapi.json from FastAPI app
  - repo: local
    hooks:
      - id: export-openapi
        name: Export OpenAPI spec
        entry: uv run python scripts/export_openapi.py
        language: system
        files: ^web/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

Fix includes for latency/stats integration build
  raspberry_pi/src/rtp_main.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

Add float64 GPU upsampler RFC (refs #773)
  docs/investigations/float64_gpu_upsampler.md
Due: none

Docker環境でのRTP送信の修正
  raspberry_pi/docker-compose.yml
  raspberry_pi/docker/nginx/default.conf.template
  raspberry_pi/src/HwParamsMonitor.cpp
  raspberry_pi/src/RtpPipelineBuilder.cpp
  raspberry_pi/src/rtp_main.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

Fix RTP receiver: workaround using simple pipeline without rtpbin
  web/services/rtp_input.py
Due: mypy, export-openapi

Add RTP ZeroMQ bridge API for status and latency
  docs/api/openapi.json
  raspberry_pi/rtp_receiver/service.py
  raspberry_pi/rtp_receiver/zmq_bridge.py
  tests/python/test_rtp_zmq_bridge.py
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/rtp.py
  web/services/__init__.py
  web/services/rtp_bridge_client.py
  web/tests/test_rtp_bridge_client.py
  web/tests/test_rtp_router.py
Due: mypy, export-openapi

Fix RTP bridge client context manager typing
  web/services/rtp_bridge_client.py
Due: mypy, export-openapi

Run RTP bridge calls off the event loop
  web/routers/rtp.py
Due: mypy, export-openapi

#776 rtpbin経由でRTCP同期を復活
  web/services/rtp_input.py
Due: mypy, export-openapi

skip legacy rpi and jetson tests when code removed
  scripts/run_tests.sh
Due: none

Add precision traits and float64 build option
  CMakeLists.txt
  include/convolution_engine.h
  include/gpu/convolution_kernels.h
  include/gpu/precision_traits.h
  src/gpu/convolution_kernels.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_eq.cu
  src/gpu/gpu_upsampler_multi_rate.cu
  src/gpu/gpu_upsampler_streaming.cu
  tests/cpp/test_precision_traits.cpp
Due: none

#777 送信側rtpbinの同期/レイテンシ設定を追加
  raspberry_pi/CMakeLists.txt
  raspberry_pi/include/RtpOptions.h
  raspberry_pi/include/RtpPipelineBuilder.h
  raspberry_pi/src/RtpOptions.cpp
  raspberry_pi/src/RtpPipelineBuilder.cpp
  raspberry_pi/src/rtp_main.cpp
  raspberry_pi/tests/test_rtp_pipeline_builder.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

Fix #776 improve rtpbin sync and RTP caps
  web/services/rtp_input.py
Due: mypy, export-openapi

gpu update
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_multi_rate.cu
  src/gpu/gpu_upsampler_streaming.cu
  tests/gpu/test_convolution_engine.cu
Due: none

fix: #788 RTP BE defaults and reachable ZMQ bridge
  docker/README.md
  raspberry_pi/Dockerfile
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
  raspberry_pi/docker/entrypoint.sh
  raspberry_pi/rtp_receiver/zmq_bridge.py
  raspberry_pi/rtp_sender.py
  web/services/rtp_bridge_client.py
  web/services/rtp_input.py
Due: mypy, export-openapi

chore: set restart always for RTP compose stacks
  docker/README.md
  docker/jetson/docker-compose.jetson.yml
  docker/jetson_pcm_receiver/docker-compose.jetson.yml
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
Due: none

Fix overlap-save handling in stereo path
  src/gpu/gpu_upsampler_core.cu
Due: none

Handle short offline blocks without overlap discard
  src/gpu/gpu_upsampler_core.cu
Due: none

Center offline overlap discard using filter centroid
  src/gpu/gpu_upsampler_core.cu
Due: none

fix: update Raspberry Pi default settings for production environment
  raspberry_pi/Dockerfile
  raspberry_pi/docker-compose.yml
  raspberry_pi/rtp_sender.py
Due: mypy

feat: autostart RTP receiver on container startup
  docker/README.md
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
  web/main.py
  web/tests/conftest.py
  web/tests/test_rtp_autostart.py
Due: mypy, export-openapi

feat: add RTP receiver auto-recovery and retries
  docker/README.md
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

chore: throttle RTP auto-restart warnings
  docker/README.md
  web/services/rtp_input.py
Due: mypy, export-openapi

fix: keep RTP pipeline linked and throttle retry logs
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

fix: remove invalid rtpbin buffer-mode and suppress tcp telemetry error
  web/main.py
  web/services/rtp_input.py
Due: mypy, export-openapi

fix: correct rtpbin chaining to avoid syntax error
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

Templatize GPU upsampler for float64 builds
  CMakeLists.txt
Due: none

fix: link rtpbin recv sink/src with explicit separator
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

fix: align RTP sink format to S32LE and disable sync
  web/services/rtp_input.py
Due: mypy, export-openapi

fix: auto-detect ALSA rate for RTP sender
  raspberry_pi/Dockerfile
  raspberry_pi/README.md
  raspberry_pi/rtp_sender.py
  raspberry_pi/tests/test_rtp_sender.py
Due: mypy

Add float64 coeff expansion and downconvert path
  CMakeLists.txt
  include/convolution_engine.h
  include/gpu/convolution_kernels.h
  include/gpu/precision_traits.h
  src/gpu/convolution_kernels.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_streaming.cu
  tests/cpp/test_precision_traits.cpp
  tests/gpu/test_convolution_engine.cu
Due: none

Document float64 build path and clean formatting
  docs/setup/build.md
Due: none

feat: auto-follow ALSA rate at runtime
  raspberry_pi/Dockerfile
  raspberry_pi/README.md
  raspberry_pi/rtp_sender.py
Due: mypy

chore: add runtime rate follow tests
  raspberry_pi/tests/test_rtp_sender.py
Due: mypy

Update RTP settings
  web/services/rtp_input.py
Due: mypy, export-openapi

プチプチノイズ対策
  raspberry_pi/docker-compose.yml
  raspberry_pi/docker/entrypoint.sh
Due: none

RTP受信のバッファ余裕を拡大し負荷を緩和 (#806)
  docs/api/openapi.json
  web/models.py
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

RTP queueを300msに短縮して遅延を抑制
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

fix: rtp_input
  web/services/rtp_input.py
Due: mypy, export-openapi

fix: docker start
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
Due: none
