Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, vulkan-build-and-tests, clang-tidy-jetson-pcm, export-openapi, export-raspi-openapi

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$, but not: ^third_party/
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^third_party/)
  mypy: any of: \.py$, but not: ^third_party/
  vulkan-build-and-tests: any of: not (^third_party/), but not: ^third_party/
  clang-tidy-jetson-pcm: any of: ^jetson_pcm_receiver/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^third_party/)
  export-openapi: any of: ^web/.*\.py$, but not: ^third_party/
  export-raspi-openapi: any of: ^raspberry_pi/.*\.py$, but not: ^third_party/

docs: remove outdated setup README
  INSTALL.md
  README.md
  docs/setup/README.md
Due: vulkan-build-and-tests

docs: split README into EN/JA sections (#1258)
  README.md
Due: vulkan-build-and-tests

Fix #1261: update license naming and policy
  LICENSE
  LICENSE.ja.md
  README.md
Due: vulkan-build-and-tests

Fix #1263: 整備: pyproject メタデータ
  pyproject.toml
Due: vulkan-build-and-tests

Fix #1264: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: vulkan-build-and-tests

Fix #1275: aqua に開発用CLI依存を追加
  INSTALL.md
  aqua.yaml
Due: vulkan-build-and-tests

Fix: vkfft_minimal の glslang include 修正
  samples/vkfft_minimal/CMakeLists.txt
Due: vulkan-build-and-tests

Fix #1264: skip vulkan hook for docs-only
  .pre-commit-config.yaml
Due: vulkan-build-and-tests

Fix #1264: do not reference AGENTS.md
  CONTRIBUTING.md
Due: vulkan-build-and-tests

Fix #1264: simplify branch naming
  CONTRIBUTING.md
Due: vulkan-build-and-tests

Fix: aqua-installer を v4.0.4 に更新
  INSTALL.md
  aqua.yaml
  scripts/deployment/setup-system.sh
Due: vulkan-build-and-tests

Fix: aqua の cmake パッケージ名を修正
  aqua.yaml
Due: vulkan-build-and-tests

Fix #1278: aqua-registry更新とCMakeパッケージ名修正
  aqua.yaml
Due: vulkan-build-and-tests

#1265 Add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: vulkan-build-and-tests

#1265 Use Discussions for reports
  CODE_OF_CONDUCT.md
Due: vulkan-build-and-tests

Fix ZeroMQ IPC path mismatch between Python and C++
  web/constants.py
Due: mypy, vulkan-build-and-tests, export-openapi

#1268 .github テンプレ整備
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.yml
  PULL_REQUEST_TEMPLATE.md
Due: vulkan-build-and-tests

#1268 テンプレの整形/フック対応
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support.yml
  PULL_REQUEST_TEMPLATE.md
Due: vulkan-build-and-tests

Fix #1284: add FUNDING.yml
  .github/FUNDING.yml
Due: vulkan-build-and-tests

Fix #1270: リポジトリ衛生チェックを追加
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/repo_hygiene.md
  scripts/repo/check_repo_hygiene.sh
Due: vulkan-build-and-tests

Fix #1287: READMEを修正
  README.md
Due: vulkan-build-and-tests

Fix #1287: Clarify README scope and status
  README.md
Due: vulkan-build-and-tests

Fix #1289: ultra-low latency partition tap defaults
  docs/api/openapi.json
  include/core/config_loader.h
  tests/cpp/core/test_config_loader.cpp
  web/i18n.py
  web/models.py
  web/templates/pages/system_settings.html
Due: mypy, vulkan-build-and-tests, export-openapi

Fix #1289: refine preset labels and defaults
  web/i18n.py
  web/templates/pages/system_settings.html
Due: mypy, vulkan-build-and-tests, export-openapi

Fix #1289: update dashboard low-latency copy
  web/i18n.py
Due: mypy, vulkan-build-and-tests, export-openapi

Fix #1289: remove tap counts from dashboard copy
  web/i18n.py
Due: mypy, vulkan-build-and-tests, export-openapi

Fix #1291: reset partition streaming on buffer errors
  src/gpu/gpu_upsampler_streaming.cu
Due: vulkan-build-and-tests

Adjust ultra-low latency preset taps to 10240
  docs/api/openapi.json
  include/core/config_loader.h
  tests/cpp/core/test_config_loader.cpp
  web/models.py
  web/templates/pages/system_settings.html
Due: mypy, vulkan-build-and-tests, export-openapi

Fix tests: align partition analysis with defaults
  tests/python/test_partition_analysis.py
Due: mypy, vulkan-build-and-tests
