Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

.pre-commit-config.yaml:

# Pre-commit hooks for C++/CUDA project
#
# Install hooks:
#   uv run pre-commit install
#   uv run pre-commit install --hook-type pre-push
#
# Run all (manually):
#   uv run pre-commit run --all-files

repos:
  # clang-format for C/C++/CUDA formatting
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        types_or: [c, c++]
        files: \.(c|cpp|h|hpp|cu|cuh)$

  # clang-tidy for C/C++ static analysis (pre-push only - heavy)
  # Note: Only .cpp files targeted (headers analyzed transitively)
  # CUDA projects have incompatible compile flags for clang-tidy
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args: [-p=build]
        files: \.(c|cpp)$
        exclude: ^build/|^raspberry_pi/
        stages: [pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=35000']  # 35MB - HRTF filters are ~32MB each

  # Python formatting (for web API and scripts)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Secret detection (prevent accidental commits of API keys, tokens, etc.)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Pre-push: Type checking with mypy
  # Uses system Python to access project dependencies
  - repo: local
    hooks:
      - id: prepare-raspberry-pi-build
        name: Prepare raspberry_pi compile_commands
        entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
        language: system
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        pass_filenames: false
        stages: [pre-push]
      - id: clang-tidy-raspberry-pi
        name: clang-tidy (raspberry_pi)
        entry: clang-tidy
        language: system
        types_or: [c, c++]
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        args: [-p=raspberry_pi/build]
        stages: [pre-push]
        pass_filenames: true
      - id: mypy
        name: mypy type checker
        entry: uv run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml, scripts, web, tests/python]
        stages: [pre-push]
        pass_filenames: false

  # Pre-push: Diff-based tests
  # Only runs tests relevant to changed files
  - repo: local
    hooks:
      - id: diff-based-tests
        name: Run diff-based tests
        entry: ./scripts/run_tests.sh
        language: system
        stages: [pre-push]
        pass_filenames: false
        always_run: true

  # OpenAPI spec export (pre-commit, web/ changes only)
  # Generates docs/api/openapi.json from FastAPI app
  - repo: local
    hooks:
      - id: export-openapi
        name: Export OpenAPI spec
        entry: uv run python scripts/export_openapi.py
        language: system
        files: ^web/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

Modularize crossfeed initialization (#873)
  CMakeLists.txt
  docs/architecture/crossfeed_integration.md
  include/daemon/audio/crossfeed_manager.h
  src/alsa_daemon.cpp
  src/daemon/audio/crossfeed_manager.cpp
Due: none

refactor: centralize Pi config env (#940)
  raspberry_pi/README.md
  raspberry_pi/control_api.py
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/docker/entrypoint.sh
Due: mypy

Apply jetson profile only on seed
  docker/jetson/entrypoint.sh
  tests/python/test_docker_config_init.py
Due: mypy

Fix docker config init tests
  tests/python/test_docker_config_init.py
Due: mypy

Align canonical config with jetson defaults
  config.json
  docker/jetson/entrypoint.sh
Due: none

Remove legacy tcp input config
  config.json
  docker/jetson/entrypoint.sh
Due: none

Remove PipeWire remnants
  docker/jetson/Dockerfile.jetson
  docs/jetson/usb-gadget/known-issues.md
Due: none

Fix #827: I2S運用手順とRTPフォールバックを整備
  docker/README.md
  docker/jetson/docker-compose.jetson.yml
  docs/jetson/i2s/i2s_migration_spec_820.md
  docs/jetson/i2s/ops_runbook.md
  raspberry_pi/README.md
Due: none

Add headroom controller for filter switches
  CMakeLists.txt
  include/daemon/app/runtime_state.h
  include/daemon/audio_pipeline/headroom_controller.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/filter_manager.cpp
  src/daemon/audio_pipeline/headroom_controller.cpp
Due: none

Fix #1019: HRTFフィルタの高域減衰を緩和
  data/crossfeed/hrtf/hrtf_l_44k.bin
  data/crossfeed/hrtf/hrtf_l_44k.json
  data/crossfeed/hrtf/hrtf_l_48k.bin
  data/crossfeed/hrtf/hrtf_l_48k.json
  data/crossfeed/hrtf/hrtf_m_44k.bin
  data/crossfeed/hrtf/hrtf_m_44k.json
  data/crossfeed/hrtf/hrtf_m_48k.bin
  data/crossfeed/hrtf/hrtf_m_48k.json
  data/crossfeed/hrtf/hrtf_s_44k.bin
  data/crossfeed/hrtf/hrtf_s_44k.json
  data/crossfeed/hrtf/hrtf_s_48k.bin
  data/crossfeed/hrtf/hrtf_s_48k.json
  data/crossfeed/hrtf/hrtf_xl_44k.bin
  data/crossfeed/hrtf/hrtf_xl_44k.json
  data/crossfeed/hrtf/hrtf_xl_48k.bin
  data/crossfeed/hrtf/hrtf_xl_48k.json
  data/crossfeed/hrtf/hrtf_xs_44k.bin
  data/crossfeed/hrtf/hrtf_xs_44k.json
  data/crossfeed/hrtf/hrtf_xs_48k.bin
  data/crossfeed/hrtf/hrtf_xs_48k.json
  scripts/filters/generate_hrtf.py
Due: mypy

Fix #1022: 管理画面のALSAデバイス選択をセレクト化
  web/services/alsa.py
  web/templates/pages/dashboard.html
  web/tests/test_components.py
Due: mypy, export-openapi

Fix #1019: 直達保持クロスフィードへ切替
  data/crossfeed/hrtf/hrtf_l_44k.bin
  data/crossfeed/hrtf/hrtf_l_44k.json
  data/crossfeed/hrtf/hrtf_l_48k.bin
  data/crossfeed/hrtf/hrtf_l_48k.json
  data/crossfeed/hrtf/hrtf_m_44k.bin
  data/crossfeed/hrtf/hrtf_m_44k.json
  data/crossfeed/hrtf/hrtf_m_48k.bin
  data/crossfeed/hrtf/hrtf_m_48k.json
  data/crossfeed/hrtf/hrtf_s_44k.bin
  data/crossfeed/hrtf/hrtf_s_44k.json
  data/crossfeed/hrtf/hrtf_s_48k.bin
  data/crossfeed/hrtf/hrtf_s_48k.json
  data/crossfeed/hrtf/hrtf_xl_44k.bin
  data/crossfeed/hrtf/hrtf_xl_44k.json
  data/crossfeed/hrtf/hrtf_xl_48k.bin
  data/crossfeed/hrtf/hrtf_xl_48k.json
  data/crossfeed/hrtf/hrtf_xs_44k.bin
  data/crossfeed/hrtf/hrtf_xs_44k.json
  data/crossfeed/hrtf/hrtf_xs_48k.bin
  data/crossfeed/hrtf/hrtf_xs_48k.json
  scripts/filters/generate_hrtf.py
  tests/python/test_hrtf.py
Due: mypy

feat: #942 add Pi settings proxy UI
  docker/jetson/docker-compose.jetson.yml
  docs/api/openapi.json
  web/i18n.py
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/pi.py
  web/services/__init__.py
  web/services/pi_client.py
  web/templates/components/sidebar.html
  web/templates/pages.py
  web/templates/pages/pi_settings.html
  web/tests/test_i18n.py
  web/tests/test_pi_settings_page.py
Due: mypy, export-openapi

Refactor ALSA daemon app startup
  CMakeLists.txt
  include/daemon/app/app.h
  src/alsa_daemon.cpp
  src/daemon/app/app.cpp
Due: none

Fix #1019: 王道クロスフィードの強さを3dB上げる
  data/crossfeed/hrtf/hrtf_l_44k.bin
  data/crossfeed/hrtf/hrtf_l_44k.json
  data/crossfeed/hrtf/hrtf_l_48k.bin
  data/crossfeed/hrtf/hrtf_l_48k.json
  data/crossfeed/hrtf/hrtf_m_44k.bin
  data/crossfeed/hrtf/hrtf_m_44k.json
  data/crossfeed/hrtf/hrtf_m_48k.bin
  data/crossfeed/hrtf/hrtf_m_48k.json
  data/crossfeed/hrtf/hrtf_s_44k.bin
  data/crossfeed/hrtf/hrtf_s_44k.json
  data/crossfeed/hrtf/hrtf_s_48k.bin
  data/crossfeed/hrtf/hrtf_s_48k.json
  data/crossfeed/hrtf/hrtf_xl_44k.bin
  data/crossfeed/hrtf/hrtf_xl_44k.json
  data/crossfeed/hrtf/hrtf_xl_48k.bin
  data/crossfeed/hrtf/hrtf_xl_48k.json
  data/crossfeed/hrtf/hrtf_xs_44k.bin
  data/crossfeed/hrtf/hrtf_xs_44k.json
  data/crossfeed/hrtf/hrtf_xs_48k.bin
  data/crossfeed/hrtf/hrtf_xs_48k.json
  scripts/filters/generate_hrtf.py
Due: mypy

Fix #1008: add offline De-limiter wav→wav PoC
  .gitignore
  pyproject.toml
  scripts/delimiter/__init__.py
  scripts/delimiter/model.py
  scripts/delimiter/offline_wav_to_wav.py
  tests/python/test_delimiter_offline_poc.py
  uv.lock
Due: mypy

Fix #1027: クロスフェード切替直後の音飛びと頭サイズ表示を修正
  docs/api/openapi.json
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/control/control_plane.cpp
  web/models.py
  web/templates/pages/dashboard.html
Due: mypy, export-openapi

Fix #1008: generate waveform PNG and A/B wav for PoC
  scripts/delimiter/offline_wav_to_wav.py
  tests/python/test_delimiter_offline_poc.py
Due: mypy

Fix #875: move daemon lifecycle into App
  CMakeLists.txt
  include/daemon/app/app.h
  src/alsa_daemon.cpp
  src/daemon/app/app.cpp
Due: none

Fix #1019: クロス成分を緩やかなシェルフでロールオフ
  data/crossfeed/hrtf/hrtf_l_44k.bin
  data/crossfeed/hrtf/hrtf_l_44k.json
  data/crossfeed/hrtf/hrtf_l_48k.bin
  data/crossfeed/hrtf/hrtf_l_48k.json
  data/crossfeed/hrtf/hrtf_m_44k.bin
  data/crossfeed/hrtf/hrtf_m_44k.json
  data/crossfeed/hrtf/hrtf_m_48k.bin
  data/crossfeed/hrtf/hrtf_m_48k.json
  data/crossfeed/hrtf/hrtf_s_44k.bin
  data/crossfeed/hrtf/hrtf_s_44k.json
  data/crossfeed/hrtf/hrtf_s_48k.bin
  data/crossfeed/hrtf/hrtf_s_48k.json
  data/crossfeed/hrtf/hrtf_xl_44k.bin
  data/crossfeed/hrtf/hrtf_xl_44k.json
  data/crossfeed/hrtf/hrtf_xl_48k.bin
  data/crossfeed/hrtf/hrtf_xl_48k.json
  data/crossfeed/hrtf/hrtf_xs_44k.bin
  data/crossfeed/hrtf/hrtf_xs_44k.json
  data/crossfeed/hrtf/hrtf_xs_48k.bin
  data/crossfeed/hrtf/hrtf_xs_48k.json
  scripts/filters/generate_hrtf.py
  tests/python/test_hrtf.py
Due: mypy

Fix #868: slim alsa_daemon entrypoint and prevent future bloat
  CMakeLists.txt
  include/daemon/app/app.h
  src/alsa_daemon.cpp
  src/daemon/app/app.cpp
Due: none

Fix #1032: HUTUBSクロスフィードを体感できる程度に強める
  data/crossfeed/hrtf/hrtf_l_44k.bin
  data/crossfeed/hrtf/hrtf_l_44k.json
  data/crossfeed/hrtf/hrtf_l_48k.bin
  data/crossfeed/hrtf/hrtf_l_48k.json
  data/crossfeed/hrtf/hrtf_m_44k.bin
  data/crossfeed/hrtf/hrtf_m_44k.json
  data/crossfeed/hrtf/hrtf_m_48k.bin
  data/crossfeed/hrtf/hrtf_m_48k.json
  data/crossfeed/hrtf/hrtf_s_44k.bin
  data/crossfeed/hrtf/hrtf_s_44k.json
  data/crossfeed/hrtf/hrtf_s_48k.bin
  data/crossfeed/hrtf/hrtf_s_48k.json
  data/crossfeed/hrtf/hrtf_xl_44k.bin
  data/crossfeed/hrtf/hrtf_xl_44k.json
  data/crossfeed/hrtf/hrtf_xl_48k.bin
  data/crossfeed/hrtf/hrtf_xl_48k.json
  data/crossfeed/hrtf/hrtf_xs_44k.bin
  data/crossfeed/hrtf/hrtf_xs_44k.json
  data/crossfeed/hrtf/hrtf_xs_48k.bin
  data/crossfeed/hrtf/hrtf_xs_48k.json
  scripts/filters/generate_hrtf.py
  src/daemon/audio/crossfeed_manager.cpp
  src/daemon/control/control_plane.cpp
Due: mypy

Fix #1032: クロスフィード強度を -13dB に調整
  data/crossfeed/hrtf/hrtf_l_44k.bin
  data/crossfeed/hrtf/hrtf_l_44k.json
  data/crossfeed/hrtf/hrtf_l_48k.bin
  data/crossfeed/hrtf/hrtf_l_48k.json
  data/crossfeed/hrtf/hrtf_m_44k.bin
  data/crossfeed/hrtf/hrtf_m_44k.json
  data/crossfeed/hrtf/hrtf_m_48k.bin
  data/crossfeed/hrtf/hrtf_m_48k.json
  data/crossfeed/hrtf/hrtf_s_44k.bin
  data/crossfeed/hrtf/hrtf_s_44k.json
  data/crossfeed/hrtf/hrtf_s_48k.bin
  data/crossfeed/hrtf/hrtf_s_48k.json
  data/crossfeed/hrtf/hrtf_xl_44k.bin
  data/crossfeed/hrtf/hrtf_xl_44k.json
  data/crossfeed/hrtf/hrtf_xl_48k.bin
  data/crossfeed/hrtf/hrtf_xl_48k.json
  data/crossfeed/hrtf/hrtf_xs_44k.bin
  data/crossfeed/hrtf/hrtf_xs_44k.json
  data/crossfeed/hrtf/hrtf_xs_48k.bin
  data/crossfeed/hrtf/hrtf_xs_48k.json
  scripts/filters/generate_hrtf.py
Due: mypy

Fix #868: modularize alsa_daemon.cpp and move switching/threads out
  CMakeLists.txt
  include/daemon/audio_pipeline/stream_buffer_sizing.h
  include/daemon/audio_pipeline/switch_actions.h
  include/daemon/core/thread_priority.h
  include/daemon/input/i2s_capture.h
  include/daemon/output/alsa_output_thread.h
  include/daemon/output/playback_buffer_access.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/switch_actions.cpp
  src/daemon/input/i2s_capture.cpp
  src/daemon/output/alsa_output_thread.cpp
  src/daemon/output/playback_buffer_access.cpp
Due: none

Fix #1017: 推論バックエンド抽象化の土台を追加
  CMakeLists.txt
  include/core/config_loader.h
  include/delimiter/inference_backend.h
  pyproject.toml
  scripts/delimiter/onnx_wav_to_wav.py
  src/core/config_loader.cpp
  src/delimiter/inference_backend.cpp
  tests/cpp/core/test_config_loader.cpp
  tests/cpp/delimiter/test_inference_backend.cpp
  uv.lock
Due: mypy

test: add unit coverage for new daemon modules (#868)
  CMakeLists.txt
  tests/cpp/daemon/test_i2s_capture_config.cpp
  tests/cpp/daemon/test_playback_buffer_access.cpp
  tests/cpp/daemon/test_stream_buffer_sizing.cpp
  tests/cpp/daemon/test_switch_actions.cpp
Due: none

test: fix stream buffer sizing expectations
  tests/cpp/daemon/test_stream_buffer_sizing.cpp
Due: none

Add unit tests for daemon helpers
  CMakeLists.txt
  tests/cpp/audio/test_filter_headroom_cache.cpp
  tests/cpp/daemon/test_loopback_helpers.cpp
  tests/cpp/daemon/test_pid_lock.cpp
Due: none

#1038 Simplify Pi settings UI
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  web/i18n.py
  web/static/css/main.css
  web/templates/pages/pi_settings.html
Due: mypy, export-openapi

Fix #994: add OPRA cache manager
  scripts/integration/opra_cache.py
  tests/python/test_opra_cache.py
Due: mypy

Fix #1009: chunk/overlap/crossfade 設計 + OLA参照実装
  CMakeLists.txt
  docs/specifications/delimiter_streaming_chunking.md
  include/audio/overlap_add.h
  tests/cpp/audio/test_overlap_add.cpp
Due: none

fix: RTパスのCUDAエラー処理を非例外化 (#902)
  src/gpu/cuda_utils.cu
  src/gpu/four_channel_fir.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_streaming.cu
Due: none

Fix #995: add OPRA downloader
  scripts/integration/opra_downloader.py
  tests/python/test_opra_downloader.py
Due: mypy

feat: clarify ring buffer memory model and add stress test (#895)
  include/io/audio_ring_buffer.h
  tests/cpp/audio/test_audio_common.cpp
Due: none

Fix #1010: 高遅延ワーカパス（RTキャプチャ分離）
  CMakeLists.txt
  include/daemon/audio_pipeline/audio_pipeline.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: none

Add Vulkan backend abstraction and VkFFT selection docs (#923 #926)
  docs/architecture/vulkan_backend_abstraction_926.md
  docs/architecture/vulkan_fft_selection_923.md
  include/gpu/backend/gpu_backend.h
Due: none

Fix #1010: ワーカ状態リセットの安全化
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: none

Fix #1010: pause/flush時にワーカ入力をリセット
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: none

Fix #1048: Pi遅延プリセットを3ボタンで選択可能に
  web/i18n.py
  web/static/css/main.css
  web/templates/components/size_selector.html
  web/templates/pages/pi_settings.html
  web/tests/test_components.py
Due: mypy, export-openapi

Fix #1010: 高遅延ワーカ経路のテスト追加
  CMakeLists.txt
  include/core/config_loader.h
  include/daemon/audio_pipeline/audio_pipeline.h
  src/core/config_loader.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  tests/cpp/audio/test_audio_pipeline_high_latency.cpp
  tests/cpp/core/test_config_loader.cpp
Due: none
