Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

.pre-commit-config.yaml:

# Pre-commit hooks for C++/CUDA project
#
# Install hooks:
#   uv run pre-commit install
#   uv run pre-commit install --hook-type pre-push
#
# Run all (manually):
#   uv run pre-commit run --all-files

repos:
  # clang-format for C/C++/CUDA formatting
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        types_or: [c, c++]
        files: \.(c|cpp|h|hpp|cu|cuh)$

  # clang-tidy for C/C++ static analysis (pre-push only - heavy)
  # Note: Only .cpp files targeted (headers analyzed transitively)
  # CUDA projects have incompatible compile flags for clang-tidy
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args: [-p=build]
        files: \.(c|cpp)$
        exclude: ^build/|^raspberry_pi/
        stages: [pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=35000']  # 35MB - HRTF filters are ~32MB each

  # Python formatting (for web API and scripts)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Secret detection (prevent accidental commits of API keys, tokens, etc.)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Pre-push: Type checking with mypy
  # Uses system Python to access project dependencies
  - repo: local
    hooks:
      - id: prepare-raspberry-pi-build
        name: Prepare raspberry_pi compile_commands
        entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
        language: system
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        pass_filenames: false
        stages: [pre-push]
      - id: clang-tidy-raspberry-pi
        name: clang-tidy (raspberry_pi)
        entry: clang-tidy
        language: system
        types_or: [c, c++]
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        args: [-p=raspberry_pi/build]
        stages: [pre-push]
        pass_filenames: true
      - id: mypy
        name: mypy type checker
        entry: uv run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml, scripts, web, tests/python]
        stages: [pre-push]
        pass_filenames: false

  # Pre-push: Diff-based tests
  # Only runs tests relevant to changed files
  - repo: local
    hooks:
      - id: diff-based-tests
        name: Run diff-based tests
        entry: ./scripts/run_tests.sh
        language: system
        stages: [pre-push]
        pass_filenames: false
        always_run: true

  # OpenAPI spec export (pre-commit, web/ changes only)
  # Generates docs/api/openapi.json from FastAPI app
  - repo: local
    hooks:
      - id: export-openapi
        name: Export OpenAPI spec
        entry: uv run python scripts/export_openapi.py
        language: system
        files: ^web/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

feat(#601): organize cpp tests modules
  CMakeLists.txt
  tests/cpp/audio/test_audio_common.cpp
  tests/cpp/audio/test_audio_pipeline.cpp
  tests/cpp/audio/test_auto_negotiation.cpp
  tests/cpp/audio/test_eq_parser.cpp
  tests/cpp/audio/test_eq_to_fir.cpp
  tests/cpp/audio/test_fallback_manager.cpp
  tests/cpp/audio/test_graceful_shutdown.cpp
  tests/cpp/audio/test_phase_alignment.cpp
  tests/cpp/audio/test_playback_buffer_threshold.cpp
  tests/cpp/audio/test_rate_family.cpp
  tests/cpp/audio/test_soft_mute.cpp
  tests/cpp/core/test_base64.cpp
  tests/cpp/core/test_config_loader.cpp
  tests/cpp/core/test_error_codes.cpp
  tests/cpp/core/test_precision_traits.cpp
  tests/cpp/daemon/test_alsa_write_loop.cpp
  tests/cpp/daemon/test_runtime_stats.cpp
  tests/cpp/e2e/test_audio_input_stall.cpp
  tests/cpp/e2e/test_partition_plan.cpp
  tests/cpp/e2e/test_rate_switch_e2e.cpp
  tests/cpp/network/test_zeromq_interface.cpp
  tests/cpp/network/test_zmq_server.cpp
Due: none

docs: clarify testing hook requirements
  AGENTS.md
Due: none

chore(#601): apply clang-tidy fixes
  include/convolution_engine.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/logging/logger.h
  include/network/zeromq_interface.h
  src/alsa_daemon.cpp
  src/audio/audio_io.cpp
  src/audio/eq_parser.cpp
  src/audio/eq_to_fir.cpp
  src/audio/filter_headroom.cpp
  src/core/base64.cpp
  src/core/config_loader.cpp
  src/core/partition_runtime_utils.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/control/control_plane.cpp
  src/daemon/control/handlers/handler_registry.cpp
  src/daemon/control/zmq_server.cpp
  src/daemon/metrics/runtime_stats.cpp
  src/daemon/output/alsa_pcm_controller.cpp
  src/daemon/pcm/dac_manager.cpp
  src/daemon/shutdown_manager.cpp
  src/gpu/convolution_kernels.cu
  src/hrtf/woodworth_model.cpp
  src/io/dac_capability.cpp
  src/logging/logger.cpp
  src/main.cpp
  src/network/zeromq_interface.cpp
  src/test_eq.cpp
  tests/cpp/audio/test_audio_common.cpp
  tests/cpp/audio/test_audio_pipeline.cpp
  tests/cpp/audio/test_fallback_manager.cpp
  tests/cpp/audio/test_graceful_shutdown.cpp
  tests/cpp/audio/test_playback_buffer_threshold.cpp
  tests/cpp/daemon/test_alsa_write_loop.cpp
  tests/gpu/test_convolution_engine.cu
Due: none

docs: add crossfeed integration design
  docs/architecture/crossfeed_integration.md
Due: none

fix:docs
  docs/architecture/crossfeed_integration.md
Due: none

refactor(#869): introduce runtime state
  include/daemon/app/runtime_state.h
  src/alsa_daemon.cpp
Due: none

fix(#894): reuse RT work buffers in AudioPipeline::process
  include/daemon/audio_pipeline/audio_pipeline.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: none

fix(#898): ALSA RTスレッドから stats I/O と stdio を撤去
  src/alsa_daemon.cpp
  src/daemon/control/control_plane.cpp
Due: none

fix(#900): pin RT buffers to avoid reallocs
  include/crossfeed_engine.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/gpu/crossfeed_engine.cu
  src/gpu/gpu_upsampler_streaming.cu
Due: none

fix: allow non-RT growth for tests, keep RT opt-in
  include/convolution_engine.h
  include/crossfeed_engine.h
  src/gpu/crossfeed_engine.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_streaming.cu
Due: none

fix(#900): make streaming buffers strict; update tests to preallocate
  include/convolution_engine.h
  include/crossfeed_engine.h
  src/gpu/crossfeed_engine.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_streaming.cu
  tests/gpu/test_convolution_engine.cu
Due: none

fix(#900): pin crossfeed host buffers during init
  include/crossfeed_engine.h
  src/alsa_daemon.cpp
  src/gpu/crossfeed_engine.cu
Due: none

fix(#900): require preallocated buffers in streaming tests and bypass
  src/gpu/crossfeed_engine.cu
  src/gpu/gpu_upsampler_streaming.cu
  tests/gpu/test_convolution_engine.cu
Due: none

feat(#823): add Pi USB->I2S bridge with auto rate/format tracking
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/__init__.py
  raspberry_pi/usb_i2s_bridge/__main__.py
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/docker/entrypoint.sh
  scripts/deployment/setup-pi-usb-i2s-bridge.sh
  systemd/raspberry_pi/usb-i2s-bridge.service
  tests/python/test_usb_i2s_bridge.py
Due: mypy

fix(#823): satisfy mypy for Gst pipeline handling
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy

chore(#823): make I2S bridge default docker compose; gate RTP behind profile
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
Due: none

fix(#823): harden boot/restart edge-cases for USB->I2S bridge
  raspberry_pi/usb_i2s_bridge/bridge.py
  scripts/deployment/setup-pi-usb-i2s-bridge.sh
  systemd/raspberry_pi/usb-i2s-bridge.service
Due: mypy

fix(#823): detect USB device presence and recover from partial I2S/USB drops
  raspberry_pi/usb_i2s_bridge/bridge.py
  tests/python/test_usb_i2s_bridge.py
Due: mypy

feat(#899): GPUストリーミングをcudaEventでパイプライン化
  include/convolution_engine.h
  include/crossfeed_engine.h
  include/gpu/convolution_kernels.h
  src/alsa_daemon.cpp
  src/gpu/convolution_kernels.cu
  src/gpu/crossfeed_engine.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_streaming.cu
Due: none

fix(#909): add mandatory rule: no auto-merge without explicit user request
  AGENTS.md
Due: none

feat(#906): add I2S ALSA capture input path
  include/core/config_loader.h
  include/daemon/app/runtime_state.h
  src/alsa_daemon.cpp
  src/core/config_loader.cpp
Due: none

test(#899): non-blocking streamingが前回ブロックを返すことを検証
  tests/gpu/test_convolution_engine.cu
Due: none

fix(#906): harden I2S capture for shutdown and disconnect
  src/alsa_daemon.cpp
Due: none

test(#906): cover i2s config parsing
  tests/cpp/core/test_config_loader.cpp
Due: none

fix(#901): avoid blocking locks in RT audio path
  include/daemon/audio_pipeline/audio_pipeline.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: none

Add 4ch FIR path to convolution engine (#886)
  CMakeLists.txt
  include/convolution_engine.h
  src/gpu/four_channel_fir.cu
  tests/gpu/test_four_channel_fir.cu
Due: none

fix(#901): keep output running when input lock busy
  src/daemon/audio_pipeline/audio_pipeline.cpp
  tests/cpp/audio/test_audio_pipeline.cpp
Due: none

Fix 4ch FIR streaming ordering and test wiring (#886)
  CMakeLists.txt
  include/convolution_engine.h
  src/gpu/four_channel_fir.cu
Due: none

feat(#824): add I2S control-plane sync and safe reinit gating
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/control_agent.py
  raspberry_pi/usb_i2s_bridge/control_plane.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
Due: mypy

refactor: route stderr logging through logger
  src/alsa_daemon.cpp
  src/audio/audio_io.cpp
  src/audio/eq_parser.cpp
  src/audio/eq_to_fir.cpp
  src/audio/filter_headroom.cpp
  src/core/config_loader.cpp
  src/daemon/control/control_plane.cpp
  src/daemon/control/zmq_server.cpp
  src/gpu/crossfeed_engine.cu
  src/gpu/cuda_utils.cu
  src/gpu/four_channel_fir.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_eq.cu
  src/gpu/gpu_upsampler_multi_rate.cu
  src/gpu/gpu_upsampler_streaming.cu
  src/main.cpp
  src/network/zeromq_interface.cpp
  src/test_eq.cpp
Due: none

build: link logging into dependent targets
  CMakeLists.txt
Due: none

build: link logging in zmq server tests
  CMakeLists.txt
Due: none

Fix #919: ラズパイUSB->I2Sブリッジをarecord|aplay化して自動復旧を強化
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy

Fix #919: aplay即死時にconversionへ自動フォールバック
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy

Fix #887: connect crossfeed API to 4ch FIR
  docs/architecture/crossfeed_integration.md
  include/convolution_engine.h
  include/core/config_loader.h
  include/crossfeed_engine.h
  include/daemon/app/runtime_state.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/control/control_plane.h
  src/alsa_daemon.cpp
  src/core/config_loader.cpp
  src/daemon/control/control_plane.cpp
  src/gpu/crossfeed_engine.cu
  tests/cpp/core/test_config_loader.cpp
  tests/gpu/test_crossfeed_engine.cu
Due: none

Fix audio pipeline tests for pinned vectors
  tests/cpp/audio/test_audio_pipeline.cpp
Due: none

Fix #919: composeのデバイス指定をhw:3,0/hw:2,0へ統一
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
Due: mypy

Fix #936: RTP をデフォルトで非露出・非自動起動にする
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
  docs/api/openapi.json
  systemd/jetson/magicbox-web.service
  web/main.py
  web/tests/test_rtp_autostart.py
Due: mypy, export-openapi

Fix #936: RTP無効時はRTP関連を遅延ロードにする
  docker/jetson/docker-compose.jetson.yml
  web/main.py
  web/routers/__init__.py
Due: mypy, export-openapi

Fix #936: RTP無効デフォルトに合わせてwebテストを更新
  web/tests/test_rtp_input_router.py
  web/tests/test_rtp_input_service.py
  web/tests/test_rtp_router.py
Due: mypy, export-openapi
