Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

prepare-raspberry-pi-build:
  name: Prepare raspberry_pi compile_commands
  entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-raspberry-pi:
  name: clang-tidy (raspberry_pi)
  entry: clang-tidy
  language: system
  args:
  - -p=raspberry_pi/build
  stages:
  - pre-push
  pass_filenames: true

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - scripts
  - web
  - tests/python
  stages:
  - pre-push
  pass_filenames: false

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Fix #1000: add OPRA sync safety tests
  docs/api/openapi.json
  tests/python/test_opra_downloader.py
  tests/python/test_opra_sync_service.py
  web/routers/opra_sync.py
  web/security.py
  web/tests/test_opra_sync_router.py
Due: mypy, export-openapi

Adjust error code test expectations
  tests/python/test_error_codes.py
Due: mypy

Add C++ ORT backend for delimiter (#1097)
  CMakeLists.txt
  include/core/config_loader.h
  include/delimiter/inference_backend.h
  src/core/config_loader.cpp
  src/delimiter/inference_backend.cpp
  tests/cpp/core/test_config_loader.cpp
  tests/cpp/delimiter/test_inference_backend.cpp
Due: none

Fix #1052: 公開戦略（Private→Public分離）をドキュメント化
  docs/releases/public_repo.md
Due: none

Fix #1052: Public同期トリガーをリリースタグ/デプロイに整理
  docs/releases/public_repo.md
Due: none

Fix VkFFT sample build tooling
  samples/vkfft_minimal/CMakeLists.txt
  samples/vkfft_minimal/vkfft_minimal.cpp
Due: none

Use L4T CUDA runtime base images (#647)
  docker/jetson/Dockerfile.jetson
  docker/jetson_pcm_receiver/Dockerfile.jetson
Due: none

Docs: 配布物仕様（Artifact Contract）を定義 (#1053)
  docs/releases/artifact_contract.md
Due: none

Docs: PiのUAC2受け口を整理 (#1053)
  docs/releases/artifact_contract.md
  docs/setup/pi_bridge.md
Due: none

Docs: Artifact Contractに署名/ライセンス同梱を追記 (#1053)
  docs/releases/artifact_contract.md
Due: none

Fix VkFFT sample build and exclude vendor from diff tests
  .pre-commit-config.yaml
  samples/vkfft_minimal/CMakeLists.txt
  third_party/vkfft/vkFFT/vkFFT/vkFFT_AppManagement/vkFFT_DeleteApp.h
  third_party/vkfft/vkFFT/vkFFT/vkFFT_PlanManagement/vkFFT_API_handles/vkFFT_UpdateBuffers.h
Due: none

Add delimiter assets manifest and samples (#1098)
  .gitignore
  NOTICE.md
  THIRD_PARTY_LICENSES.md
  config_samples/delimiter/delimiter_44k.json
  config_samples/delimiter/delimiter_48k_resample.json
  data/delimiter/weights/.gitkeep
  data/delimiter/weights/LICENSE.upstream
  data/delimiter/weights/README.md
  data/delimiter/weights/manifest.json
  docs/releases/delimiter_assets_1098.md
  docs/specifications/delimiter_model_sr_strategy_1096.md
  scripts/delimiter/download_assets.py
  scripts/delimiter/export_onnx.py
Due: mypy

Exclude third_party and samples from clang-tidy
  .pre-commit-config.yaml
Due: none

Tighten clang-tidy exclusions
  .pre-commit-config.yaml
Due: none

Add offline delimiter metrics and docs (#1099)
  docs/releases/delimiter_assets_1098.md
  scripts/delimiter/offline_wav_to_wav.py
  scripts/delimiter/onnx_wav_to_wav.py
  tests/python/test_delimiter_offline_poc.py
Due: mypy

Add CUDA/Vulkan build switches (#927)
  CMakeLists.txt
  README.md
Due: none

Centralize Vulkan sample deps (#927)
  CMakeLists.txt
  README.md
  docs/jetson/vkfft_minimal_sample.md
  samples/vkfft_minimal/CMakeLists.txt
Due: none

Fix delimiter ONNX export defaults (legacy tracer)
  .pre-commit-config.yaml
  scripts/delimiter/benchmark_streaming.py
  scripts/delimiter/export_onnx.py
  scripts/delimiter/offline_wav_to_wav.py
  scripts/delimiter/onnx_wav_to_wav.py
Due: mypy

Fix #1100: delimiter realtime failsafe
  CMakeLists.txt
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/delimiter/safety_controller.cpp
  tests/cpp/audio/test_audio_pipeline_high_latency.cpp
Due: none

Add Vulkan overlap-save offline sample
  CMakeLists.txt
  README.md
  docs/jetson/vulkan_overlap_save_offline.md
  samples/vkfft_overlap_save/CMakeLists.txt
  samples/vkfft_overlap_save/vulkan_overlap_save.cpp
  samples/vkfft_overlap_save/vulkan_overlap_save.h
  samples/vkfft_overlap_save/vulkan_overlap_save_tests.cpp
  samples/vkfft_overlap_save/vulkan_overlap_save_tool.cpp
Due: none

feat: system page presets and kv layout (#1124)
  web/i18n.py
  web/static/css/main.css
  web/templates/components/key_value_row.html
  web/templates/pages/system_settings.html
Due: mypy, export-openapi

Fix #1123: enable Pi status reporting defaults and remove reference
  raspberry_pi/tests/test_status_report_default.py
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/usb-i2s-bridge.env
  web/i18n.py
  web/templates/pages/pi_settings.html
Due: mypy, export-openapi

Revert "#647 Dockerサイズの抑制"
  docker/jetson/Dockerfile.jetson
  docker/jetson_pcm_receiver/Dockerfile.jetson
Due: none

#1101 De-limiter ベンチと回帰テスト整備
  docs/releases/delimiter_benchmark_1101.md
  docs/specifications/delimiter_streaming_chunking.md
  pyproject.toml
  scripts/delimiter/benchmark_streaming.py
  tests/python/test_delimiter_benchmark.py
  uv.lock
Due: mypy

Add web_brand Totton Audio one-pager (ja/en) (#1131)
  web_brand/README.md
  web_brand/assets/app.js
  web_brand/assets/main.css
  web_brand/index.html
Due: none

#1102 Add De-Limiter setup guide
  README.md
  docs/setup/delimiter.md
  docs/setup/quick_start.md
  docs/setup/web_ui.md
Due: none

Fix #1129: stabilize Vulkan overlap-save VkFFT buffer setup
  samples/vkfft_overlap_save/vulkan_overlap_save.cpp
Due: none

Add stereo support to Vulkan overlap-save sample (#929)
  samples/vkfft_overlap_save/vulkan_overlap_save.cpp
  samples/vkfft_overlap_save/vulkan_overlap_save.h
  samples/vkfft_overlap_save/vulkan_overlap_save_tests.cpp
Due: none

Allow runtime De-Limiter enablement
  include/daemon/audio_pipeline/audio_pipeline.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/control/control_plane.cpp
  web/templates/pages/delimiter.html
Due: none

Fix #1138: increase stream buffer margin
  include/daemon/audio_pipeline/stream_buffer_sizing.h
  tests/cpp/daemon/test_stream_buffer_sizing.cpp
Due: none

Add web_brand sync workflow (#1140)
  .github/workflows/sync-web-brand.yml
  web_brand/README.md
Due: none

Add Vulkan streaming backend switch (#1110)
  CMakeLists.txt
  include/convolution_engine.h
  include/core/config_loader.h
  include/daemon/api/dependencies.h
  include/daemon/app/runtime_state.h
  include/daemon/audio/upsampler_builder.h
  include/daemon/control/control_plane.h
  include/daemon/metrics/runtime_stats.h
  include/vulkan/vulkan_streaming_upsampler.h
  src/core/config_loader.cpp
  src/daemon/audio/upsampler_builder.cpp
  src/daemon/control/control_plane.cpp
  src/vulkan/vulkan_streaming_upsampler.cpp
Due: none

Fix #1110: allow backend without CUDA streams
  src/alsa_daemon.cpp
Due: none

Fix #1143: recover after output buffer overflow
  CMakeLists.txt
  src/daemon/output/playback_buffer_manager.cpp
  tests/cpp/daemon/test_playback_buffer_manager.cpp
Due: none

Fix rsync to preserve git dir (#1140)
  .github/workflows/sync-web-brand.yml
Due: none

Fix #1148: guard Vulkan backend when Vulkan is disabled
  CMakeLists.txt
  src/daemon/audio/upsampler_builder.cpp
Due: none

Fix #1142: throttle output buffer with incoming hint
  include/daemon/output/playback_buffer_manager.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/output/playback_buffer_manager.cpp
  tests/cpp/daemon/test_playback_buffer_manager.cpp
Due: none

Add EQ magnitude support to Vulkan streaming
  include/vulkan/vulkan_streaming_upsampler.h
  src/vulkan/vulkan_streaming_upsampler.cpp
Due: none

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  mypy: any of: \.py$
  export-openapi: any of: ^web/.*\.py$
