Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, clang-tidy-jetson-pcm, export-openapi, export-raspi-openapi

prepare-raspberry-pi-build:
  name: Prepare raspberry_pi compile_commands
  entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-raspberry-pi:
  name: clang-tidy (raspberry_pi)
  entry: clang-tidy
  language: system
  args:
  - -p=raspberry_pi/build
  stages:
  - pre-push
  pass_filenames: true

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - scripts
  - web
  - tests/python
  stages:
  - pre-push
  pass_filenames: false

clang-tidy-jetson-pcm:
  name: clang-tidy (jetson_pcm_receiver)
  entry: clang-tidy
  language: system
  args:
  - -p=jetson_pcm_receiver/build
  stages:
  - pre-push
  pass_filenames: true

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/integration/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

export-raspi-openapi:
  name: Export Raspberry Pi OpenAPI spec
  entry: uv run python scripts/integration/export_raspi_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(vulkan): async streaming pipeline (#1167)
  src/vulkan/vulkan_streaming_upsampler.cpp
Due: none

fix(vulkan): add mapping helpers (#1167)
  src/vulkan/vulkan_streaming_upsampler.cpp
Due: none

fix(vulkan): reuse command buffers (#1167)
  src/vulkan/vulkan_streaming_upsampler.cpp
Due: none

Fix #1054: 企業評価（PoC）を許可するライセンス整備
  LICENSE
  LICENSE.ja.md
  README.md
Due: none

#1056 OpenAPI公開同期（CI/Release添付）
  .github/workflows/openapi-check.yml
  .github/workflows/openapi-release-assets.yml
  .github/workflows/openapi-sync-public.yml
  .pre-commit-config.yaml
  docs/api/README.md
Due: none

chore: ignore build-vulkan
  .gitignore
Due: none

#1057 UI/UXの公開切り出し（templates/static）
  .github/workflows/uiux-sync-public.yml
  docs/releases/public_repo.md
Due: none

fix: public UI export hardcoded values
  .github/workflows/uiux-sync-public.yml
  web/templates/pages/pi_settings.html
Due: none

fix: keep default Jetson initial IP placeholder
  web/templates/pages/pi_settings.html
Due: none

#1057 Public repo export: include FastAPI web app
  .github/workflows/uiux-sync-public.yml
  web/main.py
  web/templates/components/sidebar.html
  web/templates/pages.py
Due: mypy, export-openapi

#1058/#1059 runtime-only compose + private release workflow
  .github/workflows/openapi-release-assets.yml
  .github/workflows/private-release-build-ghcr.yml
  docker/README.md
  docker/jetson/docker-compose.jetson.lan.yml
  docker/jetson/docker-compose.jetson.yml
Due: none

Fix #1058: keep existing Jetson compose; add runtime-only compose
  docker/README.md
  docker/jetson/docker-compose.jetson.lan.yml
  docker/jetson/docker-compose.jetson.runtime.yml
  docker/jetson/docker-compose.jetson.yml
Due: none

Fix #1059: keep OpenAPI release workflow; avoid duplicate assets
  .github/workflows/openapi-release-assets.yml
  .github/workflows/private-release-build-ghcr.yml
Due: none

docs: add Jetson evaluator guide (Issue #1060)
  docker/README.md
  docs/jetson/README.md
Due: none

docs: fix evaluator guide formatting (Issue #1060)
  docs/jetson/evaluator_guide_docker.md
Due: none

docs: split evaluator vs local-build READMEs (Issue #1060)
  docker/README.evaluator.md
  docker/README.local_build.md
  docker/README.md
  docs/jetson/README.evaluator.md
  docs/jetson/README.md
Due: none

docs: make evaluator/local-build README links clickable (Issue #1060)
  docker/README.local_build.md
  docker/README.md
  docs/jetson/README.evaluator.md
Due: none

Fix #1061: Raspberry Pi評価者導線をI2S主流に更新
  docker/README.evaluator.md
  docs/setup/pi_bridge.md
  raspberry_pi/README.md
  raspberry_pi/docker-compose.raspberry_pi.runtime.yml
  raspberry_pi/rtp_sender.py
  raspberry_pi/tests/conftest.py
Due: mypy, export-raspi-openapi

Fix #1061: Pi runtime-only image参照をタグ運用に寄せる
  raspberry_pi/README.md
  raspberry_pi/docker-compose.raspberry_pi.runtime.yml
Due: none

Fix #1062: セキュリティ最低ライン（LAN前提）
  docker/README.evaluator.md
  docker/jetson/docker-compose.jetson.runtime.yml
  docs/api/openapi.json
  docs/jetson/evaluator_guide_docker.md
  docs/jetson/systemd/service-design.md
  docs/setup/quick_start.md
  docs/setup/security_baseline.md
  docs/setup/web_ui.md
  systemd/jetson/magicbox-web.service
  web/models.py
Due: mypy, export-openapi

Fix #1201: OpenAPI spec check workflow を削除
  .github/workflows/openapi-check.yml
Due: none

#1063 評価者オンボーディングキット（QuickStart/チェックリスト/テンプレ）
  docker/README.evaluator.md
  docs/jetson/README.evaluator.md
  docs/jetson/evaluator_feedback_template.md
  docs/jetson/evaluator_quickstart.md
  docs/jetson/quality/evaluator_test_checklist.md
Due: none

#1063 RTP到達性（publish IP）とコマンド表記の統一
  docs/jetson/evaluator_feedback_template.md
  docs/jetson/evaluator_quickstart.md
  docs/jetson/quality/evaluator_test_checklist.md
Due: none

#1192 Public repo 初回エクスポート（allowlist+CI）
  .github/workflows/public-export-sync-public.yml
  docs/jetson/i2s/ops_runbook.md
  docs/jetson/pi_bridge.md
  docs/jetson/security_baseline.md
  docs/releases/artifact_contract.md
  docs/releases/public_repo.md
  docs/releases/public_repo_root_README.md
  raspberry_pi/README.md
Due: none

#1192 Public export: exclude .env
  .github/workflows/public-export-sync-public.yml
Due: none

Fix #1206: Delimiter ORT stereo output selection
  .gitignore
  CMakeLists.txt
  include/delimiter/ort_output_selector.h
  src/delimiter/inference_backend.cpp
  src/delimiter/ort_output_selector.cpp
  tests/cpp/delimiter/test_ort_output_selector.cpp
Due: none

Fix #1208: De-limiter ORT入力をchannel-firstに修正
  src/delimiter/inference_backend.cpp
Due: none

Add De-limiter comparison tools for loudness validation
  .gitignore
  CMakeLists.txt
  scripts/delimiter/compare_loudness.py
  src/delimiter_wav_to_wav.cpp
Due: mypy

Add de-limiter comparison report for mix_for_NORI
  plots/delimiter_comparison_mix_for_NORI.json
  plots/delimiter_comparison_mix_for_NORI.png
Due: none

Replace comparison report with nori.mp3 sample
  plots/delimiter_comparison_mix_for_NORI.json
  plots/delimiter_comparison_mix_for_NORI.png
  plots/delimiter_comparison_nori.json
  plots/delimiter_comparison_nori.png
Due: none

Add multi-scale waveform comparison tool and report
  plots/delimiter_waveform_multiscale_nori.png
  scripts/delimiter/compare_waveform_multiscale.py
Due: mypy

Add public release assets mirroring (#1193)
  .github/workflows/public-release-mirror.yml
  docs/jetson/evaluator_quickstart.md
Due: none

Fix #1212: harden loudness disable path
  include/daemon/audio_pipeline/audio_pipeline.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
  tests/cpp/audio/test_audio_pipeline_high_latency.cpp
Due: none

Fix #1214: follow 44.1/48k in quad-phase/dual-rate
  include/convolution_engine.h
  src/daemon/audio_pipeline/switch_actions.cpp
  src/gpu/gpu_upsampler_multi_rate.cu
  tests/cpp/daemon/test_switch_actions.cpp
Due: none

Fix #1214: set inputSampleRate when switching family without multi-rate
  src/daemon/audio_pipeline/switch_actions.cpp
  src/gpu/gpu_upsampler_multi_rate.cu
Due: none

Add asset wait for public release mirror (#1193)
  .github/workflows/public-release-mirror.yml
Due: none

Fix #1194 GHCR public digest guidance
  .github/workflows/private-release-build-ghcr.yml
  docker/README.evaluator.md
  docker/jetson/docker-compose.jetson.runtime.yml
  docs/jetson/evaluator_guide_docker.md
  docs/releases/ghcr_public.md
  docs/releases/public_repo.md
  raspberry_pi/README.md
  raspberry_pi/docker-compose.raspberry_pi.runtime.yml
Due: none

#1218 Web UI: ステータス表示の折り返し対応とレイアウト改善
  web/i18n.py
  web/static/css/main.css
  web/templates/pages/delimiter.html
Due: mypy, export-openapi

Fix mypy type annotation errors in compare_waveform_multiscale.py
  scripts/delimiter/compare_waveform_multiscale.py
Due: mypy

fix: pi bridge
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy, export-raspi-openapi

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$, but not: ^third_party/
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^third_party/)
  mypy: any of: \.py$, but not: ^third_party/
  clang-tidy-jetson-pcm: any of: ^jetson_pcm_receiver/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^third_party/)
  export-openapi: any of: ^web/.*\.py$, but not: ^third_party/
  export-raspi-openapi: any of: ^raspberry_pi/.*\.py$, but not: ^third_party/
