Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, clang-tidy-jetson-pcm, export-openapi

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - scripts
  - web
  - tests/python
  stages:
  - pre-push
  pass_filenames: false

clang-tidy-jetson-pcm:
  name: clang-tidy (jetson_pcm_receiver)
  entry: clang-tidy
  language: system
  args:
  - -p=jetson_pcm_receiver/build
  stages:
  - pre-push
  pass_filenames: true

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Add Raspberry Pi capture tests for pre-push (#614)
  raspberry_pi/CMakeLists.txt
  raspberry_pi/include/AlsaCapture.h
  raspberry_pi/include/Options.h
  raspberry_pi/src/AlsaCapture.cpp
  raspberry_pi/src/CMakeLists.txt
  raspberry_pi/src/Options.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_alsa_capture.cpp
  raspberry_pi/tests/test_cli_options.cpp
  scripts/run_tests.sh
Due: none

Implement ALSA loopback playback with XRUN recovery (#621)
  jetson_pcm_receiver/CMakeLists.txt
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/alsa_playback.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_alsa_playback.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Harden ALSA handling and idle recv wait (#621)
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Add raspberry_pi clang-tidy hook and prep build (#614)
  .pre-commit-config.yaml
Due: none

Validate capture rates to supported multiples (#614)
  raspberry_pi/README.md
  raspberry_pi/src/Options.cpp
  raspberry_pi/tests/test_cli_options.cpp
Due: none

Expand playback formats and rates (#621)
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/pcm_header.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/pcm_header.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_alsa_playback.cpp
  jetson_pcm_receiver/tests/test_pcm_header.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Use system cmake for raspberry_pi hook (#614)
  .pre-commit-config.yaml
Due: none

Apply formatting fixes from pre-commit
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/pcm_header.h
  jetson_pcm_receiver/src/pcm_header.cpp
Due: clang-tidy-jetson-pcm

Improve ALSA capture error handling and CLI exits
  raspberry_pi/include/Options.h
  raspberry_pi/src/AlsaCapture.cpp
  raspberry_pi/src/Options.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_cli_options.cpp
Due: none

Integrate CLI logging and graceful shutdown (#622)
  jetson_pcm_receiver/CMakeLists.txt
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/logging.h
  jetson_pcm_receiver/include/pcm_stream_handler.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/logging.cpp
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/tcp_server.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Fix log format and stop-aware header receive (#622)
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Implement TCP client header send and reconnection
  raspberry_pi/CMakeLists.txt
  raspberry_pi/include/PcmHeader.h
  raspberry_pi/include/TcpClient.h
  raspberry_pi/src/TcpClient.cpp
  raspberry_pi/tests/test_tcp_client.cpp
Due: none

Pack PCM header in little-endian and keepalive reconnect
  raspberry_pi/include/PcmHeader.h
Due: none

Add jitter buffer with configurable options (#623)
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/pcm_stream_handler.h
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Add HTTP status API and runtime stats (#624)
  jetson_pcm_receiver/CMakeLists.txt
  jetson_pcm_receiver/include/alsa_playback.h
  jetson_pcm_receiver/include/pcm_stream_handler.h
  jetson_pcm_receiver/include/status_server.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/status_server.cpp
Due: clang-tidy-jetson-pcm

Add validated CLI options for rpi bridge (#616)
  raspberry_pi/README.md
  raspberry_pi/include/Options.h
  raspberry_pi/src/Options.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_cli_options.cpp
Due: none

Use system cmake in rpi pre-push hook (#616)
  .pre-commit-config.yaml
Due: none

Add CLI options validation and version/help
  raspberry_pi/README.md
  raspberry_pi/include/Options.h
  raspberry_pi/src/Options.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_cli_options.cpp
Due: none

Address clang-tidy warnings and log options
  raspberry_pi/src/TcpClient.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_tcp_client.cpp
Due: none

Add ZeroMQ status API to jetson PCM receiver
  jetson_pcm_receiver/CMakeLists.txt
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/alsa_playback.h
  jetson_pcm_receiver/include/pcm_stream_handler.h
  jetson_pcm_receiver/include/status_tracker.h
  jetson_pcm_receiver/include/zmq_status_server.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/status_tracker.cpp
  jetson_pcm_receiver/src/zmq_status_server.cpp
  jetson_pcm_receiver/tests/test_zmq_status_server.cpp
Due: clang-tidy-jetson-pcm

#617 PCM bridge main integration and logging
  raspberry_pi/CMakeLists.txt
  raspberry_pi/README.md
  raspberry_pi/include/Options.h
  raspberry_pi/include/logging.h
  raspberry_pi/src/AlsaCapture.cpp
  raspberry_pi/src/CMakeLists.txt
  raspberry_pi/src/Options.cpp
  raspberry_pi/src/TcpClient.cpp
  raspberry_pi/src/logging.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_cli_options.cpp
  raspberry_pi/tests/test_logging.cpp
Due: none

Add recv timeout backoff for PCM handler
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

#617 Add infinite reconnect and rate-change handling
  raspberry_pi/README.md
  raspberry_pi/include/AlsaCapture.h
  raspberry_pi/include/TcpClient.h
  raspberry_pi/src/AlsaCapture.cpp
  raspberry_pi/src/TcpClient.cpp
  raspberry_pi/src/main.cpp
Due: none

#617 Add ALSA device reopen retry
  raspberry_pi/README.md
  raspberry_pi/src/main.cpp
Due: none

#617 Add reconnect downtime test and clarify README
  raspberry_pi/tests/test_tcp_client.cpp
Due: none

#617 Detect device param changes and faster reconnect
  raspberry_pi/README.md
  raspberry_pi/include/AlsaCapture.h
  raspberry_pi/include/TcpClient.h
  raspberry_pi/src/AlsaCapture.cpp
  raspberry_pi/src/main.cpp
Due: none

#617 Add auto ALSA device selection
  raspberry_pi/README.md
  raspberry_pi/src/main.cpp
Due: none

Add configurable recv timeout and cooldown handling
  jetson_pcm_receiver/include/pcm_stream_handler.h
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Add Docker support for Raspberry Pi PCM bridge
  raspberry_pi/Dockerfile
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
  raspberry_pi/docker/entrypoint.sh
  raspberry_pi/docker/nginx/default.conf.template
  raspberry_pi/include/Options.h
  raspberry_pi/src/Options.cpp
  raspberry_pi/src/main.cpp
  raspberry_pi/tests/test_cli_options.cpp
Due: none

Set restart policy to always for pcm bridge
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
Due: none

Document fetching origin/main before creating worktrees
  AGENTS.md
  CLAUDE.md
Due: none

Add multi-client connection control to PCM receiver (#625)
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/connection_mode.h
  jetson_pcm_receiver/include/pcm_stream_handler.h
  jetson_pcm_receiver/include/tcp_server.h
  jetson_pcm_receiver/include/zmq_status_server.h
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/tcp_server.cpp
  jetson_pcm_receiver/src/zmq_status_server.cpp
  jetson_pcm_receiver/tests/test_pcm_stream_handler.cpp
  jetson_pcm_receiver/tests/test_tcp_server.cpp
Due: clang-tidy-jetson-pcm

Reduce cooldown on takeover handoff (#625)
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
Due: clang-tidy-jetson-pcm

Reduce HRTF tap defaults and add tail trim
  scripts/generate_hrtf.py
  tests/python/test_hrtf.py
Due: mypy

Add output device abstraction for receiver (#626)
  jetson_pcm_receiver/CMakeLists.txt
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/include/alsa_playback.h
  jetson_pcm_receiver/include/output_device.h
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/output_device.cpp
  jetson_pcm_receiver/tests/test_alsa_playback.cpp
  jetson_pcm_receiver/tests/test_output_device.cpp
Due: clang-tidy-jetson-pcm

Add two-stage FIR/HRTF pipeline design
  docs/architecture/two_stage_fir_pipeline.md
Due: none

Improve device parsing tests and error hint (#626)
  jetson_pcm_receiver/README.md
  jetson_pcm_receiver/src/alsa_playback.cpp
  jetson_pcm_receiver/tests/test_output_device.cpp
Due: clang-tidy-jetson-pcm

Add loopback capture path for GPU pipeline
  include/config_loader.h
  src/alsa_daemon.cpp
  src/config_loader.cpp
Due: none

Add ZeroMQ header change notification path
  jetson_pcm_receiver/include/pcm_stream_handler.h
  jetson_pcm_receiver/include/zmq_status_server.h
  jetson_pcm_receiver/src/main.cpp
  jetson_pcm_receiver/src/pcm_stream_handler.cpp
  jetson_pcm_receiver/src/zmq_status_server.cpp
  jetson_pcm_receiver/tests/test_zmq_status_server.cpp
Due: clang-tidy-jetson-pcm

Path conditions:
  mypy: any of: \.py$
  clang-tidy-jetson-pcm: any of: ^jetson_pcm_receiver/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  export-openapi: any of: ^web/.*\.py$
