Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

prepare-raspberry-pi-build:
  name: Prepare raspberry_pi compile_commands
  entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-raspberry-pi:
  name: clang-tidy (raspberry_pi)
  entry: clang-tidy
  language: system
  args:
  - -p=raspberry_pi/build
  stages:
  - pre-push
  pass_filenames: true

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - scripts
  - web
  - tests/python
  stages:
  - pre-push
  pass_filenames: false

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Revert "fix: docker start"
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
Due: none

RTP bug
  web/services/rtp_input.py
Due: mypy, export-openapi

RTP bug
  docker/jetson/docker-compose.jetson.yml
  docs/api/openapi.json
  web/models.py
  web/services/rtp_bridge_client.py
  web/services/rtp_input.py
Due: mypy, export-openapi

Update docker settings to always
  data/EQ/opra_sennheiser:hd_800_s::autoeq_oratory1990_kb5000_7.txt
  data/EQ/opra_sennheiser:hd_800_s::oratory1990_harman_target_dekoni_fenestrated_sheepskin_earpads.txt
  data/EQ/opra_sony:mdr_z1r::oratory1990_harman_target.txt
  data/EQ/opra_sony:mdr_z1r::oratory1990_harman_target_kb5000_7.txt
  docker/jetson/docker-compose.jetson.yml
Due: none

Fix #817: add crackle diagnostics counters
  include/daemon/metrics/runtime_stats.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/metrics/runtime_stats.cpp
Due: none

Add coverage for new runtime stats fields
  tests/cpp/test_runtime_stats.cpp
Due: none

Fix #829: add producer backpressure to avoid output buffer drops
  src/alsa_daemon.cpp
Due: none

Fix #831: flush caches on DAC resets and handle ALSA short writes
  src/alsa_daemon.cpp
Due: none

Fix #829: clarify loopback backpressure scope
  src/alsa_daemon.cpp
Due: none

Fix #831: harden cache flush locking; add unit tests for ALSA write loop
  CMakeLists.txt
  include/daemon/output/alsa_write_loop.h
  src/alsa_daemon.cpp
  tests/cpp/test_alsa_write_loop.cpp
Due: none

Fix #833: RTP送信/受信のフォーマット整合とバッファ強化
  AGENTS.md
  raspberry_pi/README.md
  raspberry_pi/rtp_sender.py
  web/services/rtp_input.py
Due: mypy, export-openapi

Test: add RTP pipeline command regression checks
  raspberry_pi/tests/test_rtp_sender.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

Fix: rtpbin buffer-mode=sync → buffer-mode=synced
  raspberry_pi/README.md
  raspberry_pi/rtp_sender.py
  raspberry_pi/tests/test_rtp_sender.py
Due: mypy

Tweak: RTP受信を低遅延デフォルトへ（動画向け）
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

Fix #839: float64ストリーミングで音量が極小になる問題を修正
  include/convolution_engine.h
  include/gpu/convolution_kernels.h
  src/gpu/convolution_kernels.cu
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_streaming.cu
  tests/gpu/test_convolution_engine.cu
Due: none

Fix: 存在しないgpu_upsampler_daemonへの参照を削除
  .dockerignore
  docker/README.md
  docker/jetson/Dockerfile.jetson
Due: none

#842: Jetson減衰調査のためEQ/レベル診断を追加
  src/alsa_daemon.cpp
  src/main.cpp
Due: none

Fix #821: I2S配線表と信号品質/電源設計を確定
  docs/jetson/i2s/i2s_migration_spec_820.md
  docs/jetson/usb-gadget/known-issues.md
Due: none

Fix #839: Pin streaming host buffers for async copies
  src/gpu/gpu_upsampler_core.cu
Due: none

#696: Add comprehensive snd-aloop setup documentation and automation script
  README.md
  docker/jetson/docker-compose.jetson.yml
  docker/jetson_pcm_receiver/docker-compose.jetson.yml
  docs/setup/README.md
  docs/setup/jetson_snd_aloop.md
  scripts/setup_snd_aloop.sh
Due: none

Fix #595: src/core・include/coreへコア機能を集約
  CMakeLists.txt
  include/convolution_engine.h
  include/core/base64.h
  include/core/config_loader.h
  include/core/daemon_constants.h
  include/core/error_codes.h
  include/core/filter_metadata.h
  include/core/partition_runtime_utils.h
  include/dac_capability.h
  include/daemon/api/dependencies.h
  include/daemon/api/events.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/control/control_plane.h
  include/daemon/control/zmq_server.h
  include/daemon/metrics/runtime_stats.h
  include/daemon/pcm/dac_manager.h
  include/gpu/cuda_utils.h
  include/gpu/partition_plan.h
  include/zeromq_interface.h
  src/alsa_daemon.cpp
  src/core/base64.cpp
  src/core/config_loader.cpp
  src/core/error_codes.cpp
  src/core/partition_runtime_utils.cpp
  src/daemon/control/control_plane.cpp
  src/daemon/metrics/runtime_stats.cpp
  src/main.cpp
  tests/cpp/test_audio_pipeline.cpp
  tests/cpp/test_base64.cpp
  tests/cpp/test_config_loader.cpp
  tests/cpp/test_error_codes.cpp
Due: none

Test: gpu_testsのOutputNotAllZerosを一時係数で安定化
  tests/gpu/test_convolution_engine.cu
Due: none

Remove TCP input API and docs (#846)
  README.md
  docs/api/CHANGELOG.md
  docs/api/openapi.json
  docs/dev/daemon_refactor_guide.md
  docs/jetson/usb-gadget/known-issues.md
  docs/roadmap.md
  docs/setup/README.md
  docs/setup/build.md
  docs/setup/pc_development.md
  docs/setup/web_ui.md
  web/i18n.py
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/tcp_input.py
  web/services/__init__.py
  web/services/config.py
  web/services/daemon_client.py
  web/services/tcp_input.py
  web/static/js/tcp_input.js
  web/templates/components/sidebar.html
  web/templates/pages.py
  web/templates/pages/dashboard.html
  web/templates/pages/tcp_input.html
  web/tests/test_components.py
  web/tests/test_config_service.py
  web/tests/test_daemon_client_tcp_commands.py
  web/tests/test_models.py
  web/tests/test_tcp_input_page.py
  web/tests/test_tcp_input_router.py
  web/tests/test_tcp_input_service.py
Due: mypy, export-openapi

Fix status card translation bindings
  web/templates/pages/dashboard.html
  web/templates/pages/system_settings.html
Due: none

Refactor: move ZeroMQ interface into network module
  CMakeLists.txt
  include/network/zeromq_interface.h
  src/network/zeromq_interface.cpp
  tests/cpp/test_error_codes.cpp
  tests/cpp/test_zeromq_interface.cpp
Due: none

Refactor: move audio processing code into audio module (#597)
  CMakeLists.txt
  include/audio/audio_io.h
  include/audio/audio_utils.h
  include/audio/auto_negotiation.h
  include/audio/eq_parser.h
  include/audio/eq_to_fir.h
  include/audio/fallback_manager.h
  include/audio/filter_headroom.h
  include/audio/phase_alignment.h
  include/audio/soft_mute.h
  include/convolution_engine.h
  include/daemon/api/dependencies.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/audio_pipeline/streaming_cache_manager.h
  include/daemon/control/control_plane.h
  include/daemon/metrics/runtime_stats.h
  include/daemon/shutdown_manager.h
  src/alsa_daemon.cpp
  src/audio/audio_io.cpp
  src/audio/auto_negotiation.cpp
  src/audio/eq_parser.cpp
  src/audio/eq_to_fir.cpp
  src/audio/fallback_manager.cpp
  src/audio/filter_headroom.cpp
  src/audio/phase_alignment.cpp
  src/audio/soft_mute.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/control/control_plane.cpp
  src/main.cpp
  src/test_eq.cpp
  tests/cpp/test_audio_common.cpp
  tests/cpp/test_auto_negotiation.cpp
  tests/cpp/test_eq_parser.cpp
  tests/cpp/test_eq_to_fir.cpp
  tests/cpp/test_fallback_manager.cpp
  tests/cpp/test_phase_alignment.cpp
  tests/cpp/test_rate_switch_e2e.cpp
  tests/cpp/test_runtime_stats.cpp
  tests/cpp/test_soft_mute.cpp
Due: none

fix: update imports for reorganized scripts
  scripts/filters/generate_linear_phase.py
  scripts/filters/generate_minimum_phase.py
  scripts/filters/generate_phase_comparison_plots.py
  scripts/integration/export_openapi.py
  scripts/integration/opra.py
  tests/python/test_eq_profile_parser.py
  tests/python/test_generate_filter.py
  tests/python/test_generate_linear_phase.py
  tests/python/test_generate_minimum_phase.py
  tests/python/test_hrtf.py
  tests/python/test_opra.py
  web/routers/opra.py
Due: mypy, export-openapi

fix: marshal opra search results
  web/routers/opra.py
Due: mypy, export-openapi

Refactor: move IO layer into io module (#598)
  CMakeLists.txt
  include/audio/auto_negotiation.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/pcm/dac_manager.h
  include/io/audio_ring_buffer.h
  include/io/dac_capability.h
  include/io/playback_buffer.h
  src/alsa_daemon.cpp
  src/io/dac_capability.cpp
  tests/cpp/test_audio_common.cpp
  tests/cpp/test_auto_negotiation.cpp
  tests/cpp/test_playback_buffer_threshold.cpp
  tests/cpp/test_rate_switch_e2e.cpp
Due: none

Refactor: extract ALSA PCM lifecycle controller (#554)
  CMakeLists.txt
  include/daemon/audio_pipeline/streaming_cache_manager.h
  include/daemon/output/alsa_pcm_controller.h
  src/alsa_daemon.cpp
  src/daemon/output/alsa_pcm_controller.cpp
Due: none

Fix: make tests safe under parallel ctest
  tests/cpp/test_config_loader.cpp
  tests/gpu/test_crossfeed_engine.cu
Due: none

Chore: include <cctype> in tests
  tests/cpp/test_config_loader.cpp
  tests/gpu/test_crossfeed_engine.cu
Due: none

feat: isolate playback buffer management for ALSA path
  CMakeLists.txt
  include/daemon/output/playback_buffer_manager.h
  src/alsa_daemon.cpp
  src/daemon/output/playback_buffer_manager.cpp
Due: none

refactor: use ring buffer for playback queue
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/audio_pipeline/streaming_cache_manager.h
  include/daemon/output/playback_buffer_manager.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/output/playback_buffer_manager.cpp
Due: none

fix: ring buffer tests and playback manager updates
  CMakeLists.txt
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/output/playback_buffer_manager.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/output/playback_buffer_manager.cpp
  tests/cpp/test_audio_pipeline.cpp
Due: none

Fix #849: guard crossfeed stream buffer pinning
  src/gpu/crossfeed_engine.cu
Due: none

feat: reorganize entrypoints (#599)
  CMakeLists.txt
  docs/investigations/279-crossfeed-heap-corruption.md
  docs/investigations/crackling_noise_investigation.md
  docs/jetson/systemd/service-design.md
  docs/roadmap.md
  docs/setup/pc_development.md
  src/entrypoints/alsa_daemon.cpp
  src/entrypoints/main.cpp
  src/entrypoints/test_eq.cpp
Due: none

Fix #851: Adjust Woodworth model sample rate
  include/crossfeed_engine.h
Due: none

Fix #851: Generate Woodworth profile at output rate
  src/gpu/crossfeed_engine.cu
  tests/gpu/test_crossfeed_engine.cu
Due: none

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  mypy: any of: \.py$
  export-openapi: any of: ^web/.*\.py$
