Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

.pre-commit-config.yaml:

# Pre-commit hooks for C++/CUDA project
#
# Install hooks:
#   uv run pre-commit install
#   uv run pre-commit install --hook-type pre-push
#
# Run all (manually):
#   uv run pre-commit run --all-files

repos:
  # clang-format for C/C++/CUDA formatting
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        types_or: [c, c++]
        files: \.(c|cpp|h|hpp|cu|cuh)$

  # clang-tidy for C/C++ static analysis (pre-push only - heavy)
  # Note: Only .cpp files targeted (headers analyzed transitively)
  # CUDA projects have incompatible compile flags for clang-tidy
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args: [-p=build]
        files: \.(c|cpp)$
        exclude: ^build/|^raspberry_pi/
        stages: [pre-push]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=35000']  # 35MB - HRTF filters are ~32MB each

  # Python formatting (for web API and scripts)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Secret detection (prevent accidental commits of API keys, tokens, etc.)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Pre-push: Type checking with mypy
  # Uses system Python to access project dependencies
  - repo: local
    hooks:
      - id: prepare-raspberry-pi-build
        name: Prepare raspberry_pi compile_commands
        entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
        language: system
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        pass_filenames: false
        stages: [pre-push]
      - id: clang-tidy-raspberry-pi
        name: clang-tidy (raspberry_pi)
        entry: clang-tidy
        language: system
        types_or: [c, c++]
        files: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
        args: [-p=raspberry_pi/build]
        stages: [pre-push]
        pass_filenames: true
      - id: mypy
        name: mypy type checker
        entry: uv run mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml, scripts, web, tests/python]
        stages: [pre-push]
        pass_filenames: false

  # Pre-push: Diff-based tests
  # Only runs tests relevant to changed files
  - repo: local
    hooks:
      - id: diff-based-tests
        name: Run diff-based tests
        entry: ./scripts/run_tests.sh
        language: system
        stages: [pre-push]
        pass_filenames: false
        always_run: true

  # OpenAPI spec export (pre-commit, web/ changes only)
  # Generates docs/api/openapi.json from FastAPI app
  - repo: local
    hooks:
      - id: export-openapi
        name: Export OpenAPI spec
        entry: uv run python scripts/export_openapi.py
        language: system
        files: ^web/.*\.py$
        pass_filenames: false
        stages: [pre-commit]

Fix #888: crossfeed switch safety
  include/daemon/control/control_plane.h
  src/alsa_daemon.cpp
  src/daemon/control/control_plane.cpp
Due: none

Fix #901: Make AudioPipeline::process RT lockless
  include/daemon/app/runtime_state.h
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/audio_pipeline/streaming_cache_manager.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/control/control_plane.cpp
  tests/cpp/audio/test_audio_pipeline.cpp
Due: none

Remove legacy crossfeed_engine (#890)
  CMakeLists.txt
  docs/architecture/crossfeed_integration.md
  include/crossfeed_engine.h
  src/gpu/crossfeed_engine.cu
  tests/gpu/test_crossfeed_engine.cu
Due: none

Fix #901: Abort switches when RT pause fails
  include/daemon/audio_pipeline/audio_pipeline.h
  include/daemon/audio_pipeline/streaming_cache_manager.h
  src/alsa_daemon.cpp
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/output/alsa_pcm_controller.cpp
Due: none

Fix #949: hw_paramsの取得失敗で48k固定になる問題を修正
  raspberry_pi/usb_i2s_bridge/bridge.py
  tests/python/test_usb_i2s_bridge.py
Due: mypy

Fix #950: disable default 60100/60101 control plane ports
  docs/api/openapi.json
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/control_agent.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  tests/python/test_usb_i2s_bridge.py
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/i2s.py
  web/tests/test_i2s_peer_status_router.py
Due: mypy, export-openapi

Fix #949: fallbackサンプルレートのデフォルトを44100へ
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
Due: mypy

Fix #957: Jetson Docker config enables I2S by default
  docker/jetson/config.docker.json
  docker/jetson/entrypoint.sh
  tests/python/test_docker_config_init.py
Due: mypy

Fix #961: I2S入力でALSAのrate強制を回避
  docs/investigations/crackling_noise_investigation.md
  src/alsa_daemon.cpp
Due: none

Fix #961: Jetson DockerでAPE/I2S2ルーティングを起動時に適用
  docker/jetson/Dockerfile.jetson
  docker/jetson/entrypoint.sh
Due: none

Fix #961: Docker起動時のAPE amixerを単純化し、起動失敗時にabortしないようにする
  docker/jetson/entrypoint.sh
  src/alsa_daemon.cpp
Due: none

Fix #964: stabilize ALSA hw_params negotiation
  src/alsa_daemon.cpp
  src/daemon/output/alsa_pcm_controller.cpp
Due: none

Fix #966: handle hw:APE device string variants
  docker/jetson/config.docker.json
  docker/jetson/entrypoint.sh
  src/alsa_daemon.cpp
Due: none

#870 alsa_daemon: PID lock/stats file RAII
  CMakeLists.txt
  include/daemon/app/process_resources.h
  include/daemon/app/runtime_state.h
  include/daemon/core/pid_lock.h
  include/daemon/metrics/stats_file.h
  src/alsa_daemon.cpp
  src/daemon/app/process_resources.cpp
  src/daemon/core/pid_lock.cpp
  src/daemon/metrics/runtime_stats.cpp
  src/daemon/metrics/stats_file.cpp
Due: none

Fix #969: avoid stalling I2S capture on output backpressure
  src/alsa_daemon.cpp
Due: none

Fix #969: add opt-in I2S->Loopback bridge input mode
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
Due: none

Fix #969: make fallback upsampling less noisy
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: none

Fix #969: make GPU streaming non-blocking mode configurable
  docker/jetson/docker-compose.jetson.yml
  src/alsa_daemon.cpp
Due: none

Fix #899: partition streamingでsampleOffsetを反映
  include/convolution_engine.h
  src/alsa_daemon.cpp
  src/gpu/gpu_upsampler_core.cu
  src/gpu/gpu_upsampler_streaming.cu
Due: none

Fix #969: allow env overrides for partitioned convolution
  docker/jetson/docker-compose.jetson.yml
  src/alsa_daemon.cpp
Due: none

Fix #976: RTP診断入力(Loopback)をdockerで復活
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
Due: none

Fix #978: GPUストリーミングnon-blockingをデフォルト無効化
  src/alsa_daemon.cpp
Due: none

Fix #981: 位相切替時のソフトミュートを無音まで待つ
  src/alsa_daemon.cpp
Due: none

Hide OPRA profiles from saved list (#983)
  README.md
  docs/api/README.md
  docs/setup/web_ui.md
  tests/python/test_eq_api.py
  web/routers/eq.py
Due: mypy, export-openapi

Fix #984: クロスフェード有効時の無音化を修正
  src/alsa_daemon.cpp
  src/gpu/four_channel_fir.cu
Due: none

feat: move loopback capture to input module (#871)
  CMakeLists.txt
  include/daemon/input/loopback_capture.h
  src/alsa_daemon.cpp
  src/daemon/input/loopback_capture.cpp
Due: none

Fix #984: HRTF修正によるALSA側の変更を最小化
  src/alsa_daemon.cpp
Due: none

Fix #984: バッファ不足時も処理可能なら即時処理する
  src/gpu/four_channel_fir.cu
Due: none

feat: add Pi control API (#940)
  raspberry_pi/README.md
  raspberry_pi/control_api.py
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/usb-i2s-bridge.env
  scripts/deployment/setup-pi-usb-i2s-bridge.sh
  systemd/raspberry_pi/raspi-control-api.service
  systemd/raspberry_pi/usb-i2s-bridge.service
Due: mypy

feat: extract upsampler builder (#872)
  include/daemon/audio/upsampler_builder.h
  src/alsa_daemon.cpp
  src/daemon/audio/upsampler_builder.cpp
Due: none

build: add upsampler builder source (#872)
  CMakeLists.txt
Due: none

fix: dockerize Pi control API (#940)
  raspberry_pi/README.md
  raspberry_pi/control_api.py
  raspberry_pi/control_api/Dockerfile
  raspberry_pi/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/docker-compose.yml
  raspberry_pi/usb_i2s_bridge/docker/entrypoint.sh
  scripts/deployment/setup-pi-usb-i2s-bridge.sh
  systemd/raspberry_pi/raspi-control-api.service
  systemd/raspberry_pi/usb-i2s-bridge.service
Due: mypy

Fix #58: ライセンス/帰属表示ファイルを追加
  LICENSE
  LICENSE.ja.md
  NOTICE.md
  THIRD_PARTY_LICENSES.md
  scripts/integration/fetch_hutubs.py
Due: mypy

Fix crossfeed rate family on multi-rate switch
  src/alsa_daemon.cpp
Due: none

Fix #85: OPRAオンライン同期の仕様を追加
  docs/specifications/opra-sync.md
Due: none

chore: add Pi OpenAPI export (#940)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/api/README.md
  docs/api/raspi_openapi.json
  raspberry_pi/README.md
  scripts/integration/export_raspi_openapi.py
Due: mypy

fix: appease mypy for docker SDK (#940)
  raspberry_pi/control_api.py
Due: mypy

docs: note docker.sock/host net requirements (#940)
  raspberry_pi/README.md
  raspberry_pi/control_api.py
Due: mypy

Fix #1002: Crossfeed入力を分割してバッファ不足を防ぐ
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: none

Unify config defaults with jetson profile
  config.json
  docker/README.md
  docker/jetson/Dockerfile.jetson
  docker/jetson/config.docker.json
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
  tests/python/test_docker_config_init.py
Due: mypy
