Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, vulkan-build-and-tests, clang-tidy-jetson-pcm, export-openapi, export-raspi-openapi

prepare-raspberry-pi-build:
  name: Prepare raspberry_pi compile_commands
  entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-raspberry-pi:
  name: clang-tidy (raspberry_pi)
  entry: clang-tidy
  language: system
  args:
  - -p=raspberry_pi/build
  stages:
  - pre-push
  pass_filenames: true

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - --cache-dir=/tmp/mypy_cache
  - --no-incremental
  - --sqlite-cache
  - --follow-imports=skip
  - --exclude='/(\\.venv|site-packages)/|scripts/delimiter/export_onnx\\.py'
  - scripts/delimiter
  stages:
  ...

vulkan-build-and-tests:
  name: Vulkan build & ctest (ENABLE_VULKAN=ON, CUDA=OFF)
  ...

clang-tidy-jetson-pcm:
  name: clang-tidy (jetson_pcm_receiver)
  entry: clang-tidy
  language: system
  args:
  - -p=jetson_pcm_receiver/build
  stages:
  - pre-push
  pass_filenames: true

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/integration/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

export-raspi-openapi:
  name: Export Raspberry Pi OpenAPI spec
  entry: uv run python scripts/integration/export_raspi_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Fix #1221: add debug logs for headroom/effective gain on phase switch
  src/audio/filter_headroom.cpp
  src/daemon/audio_pipeline/headroom_controller.cpp
  src/daemon/control/control_plane.cpp
Due: vulkan-build-and-tests

Fix delimiter rt scope guard (#1223)
  src/daemon/audio_pipeline/audio_pipeline.cpp
Due: vulkan-build-and-tests

Use filter input-band peak for headroom (#1225)
  README.md
  include/audio/filter_headroom.h
  scripts/filters/generate_filter.py
  src/audio/filter_headroom.cpp
  src/daemon/audio_pipeline/headroom_controller.cpp
  tests/cpp/audio/test_filter_headroom_cache.cpp
  tests/python/test_generate_filter.py
Due: mypy, vulkan-build-and-tests

Add family-wide headroom gain mode (#1225)
  README.md
  config.json
  config_samples/delimiter/delimiter_44k.json
  config_samples/delimiter/delimiter_48k_resample.json
  include/audio/filter_headroom.h
  include/core/config_loader.h
  include/daemon/audio_pipeline/headroom_controller.h
  src/alsa_daemon.cpp
  src/audio/filter_headroom.cpp
  src/core/config_loader.cpp
  src/daemon/audio_pipeline/headroom_controller.cpp
  tests/cpp/audio/test_filter_headroom_cache.cpp
Due: vulkan-build-and-tests

#1205 ONNXビルドコマンドをREADMEに書きおこす
  docs/setup/build.md
Due: vulkan-build-and-tests

Fix #955: honor crossfeed hrtfPath from config
  src/daemon/audio/crossfeed_manager.cpp
Due: vulkan-build-and-tests

Fix #1229: Align De-limiter chunk to 4s
  config.json
  config_samples/delimiter/delimiter_44k.json
  config_samples/delimiter/delimiter_48k_resample.json
  docs/releases/delimiter_assets_1098.md
  docs/specifications/delimiter_streaming_chunking.md
  include/core/config_loader.h
  scripts/delimiter/benchmark_streaming.py
  scripts/delimiter/offline_wav_to_wav.py
  scripts/delimiter/onnx_wav_to_wav.py
  src/delimiter_wav_to_wav.cpp
  tests/python/test_delimiter_offline_poc.py
Due: mypy, vulkan-build-and-tests

Fix #1232: avoid XRUN during silence
  src/daemon/output/alsa_output_thread.cpp
Due: vulkan-build-and-tests

Fix #1232: ignore xrun count outside capture
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy, vulkan-build-and-tests, export-raspi-openapi

Fix #1234: clarify XRUN sources
  docs/api/openapi.json
  include/logging/metrics.h
  src/daemon/audio_pipeline/audio_pipeline.cpp
  src/daemon/input/i2s_capture.cpp
  src/daemon/input/loopback_capture.cpp
  src/daemon/metrics/runtime_stats.cpp
  src/daemon/output/alsa_pcm_controller.cpp
  src/logging/metrics.cpp
  web/i18n.py
  web/models.py
  web/routers/status.py
  web/services/daemon.py
  web/templates/pages/system_settings.html
Due: mypy, vulkan-build-and-tests, export-openapi

Enable drift compensation for Pi USB-I2S bridge (#1231)
  raspberry_pi/README.md
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy, vulkan-build-and-tests, export-raspi-openapi

docs: update Pi bridge defaults note (#1231)
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy, vulkan-build-and-tests, export-raspi-openapi

Revert "#1231 ラズパイUSB-I2Sブリッジのドリフト補償をデフォルト有効化"
  raspberry_pi/README.md
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy, vulkan-build-and-tests, export-raspi-openapi

Fix #1238: Align De-limiter defaults/docs/web to 4s
  docs/setup/delimiter.md
  src/daemon/audio_pipeline/audio_pipeline.cpp
  web/i18n.py
  web/tests/test_delimiter_page.py
Due: mypy, vulkan-build-and-tests, export-openapi

Reapply "#1231 ラズパイUSB-I2Sブリッジのドリフト補償をデフォルト有効化"
  raspberry_pi/README.md
  raspberry_pi/usb_i2s_bridge/bridge.py
Due: mypy, vulkan-build-and-tests, export-raspi-openapi

Fix #1231: add Pi bridge GStreamer deps
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/usb-i2s-bridge.env
Due: mypy, vulkan-build-and-tests, export-raspi-openapi

Revert "Fix #1231: Pi USB-I2S drift comp deps"
  raspberry_pi/README.md
  raspberry_pi/usb_i2s_bridge/Dockerfile
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/usb-i2s-bridge.env
Due: mypy, vulkan-build-and-tests, export-raspi-openapi

Fix #1243: Update delimiter latency notice from 6s to 4s
  web/i18n.py
Due: mypy, vulkan-build-and-tests, export-openapi

Fix #1231: Simplify Pi USB-I2S bridge (passthrough only)
  docs/api/openapi.json
  docs/api/raspi_openapi.json
  docs/jetson/evaluator_quickstart.md
  docs/jetson/i2s/ops_runbook.md
  docs/jetson/pi_bridge.md
  docs/releases/artifact_contract.md
  docs/setup/pi_bridge.md
  raspberry_pi/control_api.py
  raspberry_pi/usb_i2s_bridge/bridge.py
  raspberry_pi/usb_i2s_bridge/usb-i2s-bridge.env
  tests/python/test_usb_i2s_bridge.py
  web/i18n.py
  web/models.py
  web/templates/pages/pi_settings.html
  web/tests/test_i18n.py
Due: mypy, vulkan-build-and-tests, export-openapi, export-raspi-openapi

Add Vulkan/CUDA parity null test (#935)
  CMakeLists.txt
  docs/jetson/vulkan_overlap_save_offline.md
  tests/cpp/vulkan/test_vulkan_cuda_parity.cpp
Due: vulkan-build-and-tests

Fix Vulkan/CUDA parity test buffer sizing
  tests/cpp/vulkan/test_vulkan_cuda_parity.cpp
Due: vulkan-build-and-tests

chore(#1249): prune public docs and simplify README
  README.md
  REVIEWER_RESPONSE.md
  docker/README.evaluator.md
  docs/dev/daemon_refactor_guide.md
  docs/investigations/279-crossfeed-heap-corruption.md
  docs/investigations/clip_headroom.md
  docs/investigations/low_latency_partition_validation.md
  docs/investigations/minimum_phase_analysis.md
  docs/jetson/README.evaluator.md
  docs/jetson/evaluator_feedback_template.md
  docs/jetson/evaluator_guide_docker.md
  docs/jetson/evaluator_quickstart.md
  docs/jetson/quality/evaluator_test_checklist.md
  docs/jetson/quality/test-checklist.md
  docs/jetson/security_baseline.md
  docs/releases/2025-12-rtp-migration.md
  docs/releases/artifact_contract.md
  docs/releases/delimiter_assets_1098.md
  docs/releases/delimiter_benchmark_1101.md
  docs/releases/ghcr_public.md
  docs/releases/public_repo.md
  docs/releases/public_repo_root_README.md
  docs/roadmap.md
Due: vulkan-build-and-tests

chore(#1249): drop remaining architecture memos
  .github/workflows/openapi-release-assets.yml
  .github/workflows/openapi-sync-public.yml
  .github/workflows/private-release-build-ghcr.yml
  .github/workflows/public-export-sync-public.yml
  .github/workflows/public-release-mirror.yml
  .github/workflows/sync-web-brand.yml
  .github/workflows/uiux-sync-public.yml
  docs/architecture/vulkan_backend_abstraction_926.md
  docs/architecture/vulkan_fft_selection_923.md
  web_brand/README.md
  web_brand/assets/app.js
  web_brand/assets/main.css
  web_brand/index.html
Due: vulkan-build-and-tests

docs: update license terms (Issue #79)
  LICENSE
  LICENSE.ja.md
Due: vulkan-build-and-tests

docs: Rebrand to Totton Audio Projects and remove 'gpu_os' references
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  LICENSE
  LICENSE.ja.md
  NOTICE.md
  docs/architecture/error-codes.md
  docs/jetson/README.md
  docs/jetson/architecture/data-flow.md
  docs/jetson/architecture/system-overview.md
  docs/jetson/deployment/ota-update.md
  docs/jetson/dev-autostart.md
  docs/jetson/network/mdns-avahi.md
  docs/jetson/network/usb-ethernet.md
  docs/jetson/systemd/service-design.md
  docs/jetson/troubleshooting.md
  docs/jetson/usb-gadget/composite-gadget.md
  docs/jetson/usb-gadget/kernel-modules.md
  docs/jetson/usb-gadget/known-issues.md
  docs/setup/README.md
  docs/setup/build.md
  docs/setup/pc_development.md
  docs/setup/quick_start.md
  docs/setup/test.md
  docs/setup/web_ui.md
  include/io/dac_capability.h
Due: vulkan-build-and-tests

docs: Update license to MB-NCL v1.2 (Source Available) and update technical specs
  LICENSE
  LICENSE.ja.md
Due: vulkan-build-and-tests

Remove legacy systemd files
  systemd/gpu-upsampler.service.in
  systemd/jetson/gpu-upsampler.service
  systemd/jetson/magicbox-gadget.service
  systemd/jetson/magicbox-web.service
  systemd/raspberry_pi/usb-i2s-bridge.service
Due: vulkan-build-and-tests

Revert: scope changes to md and web only
  .claude/settings.json
  .claude/skills/build-and-test.md
  .claude/skills/worktree-pr-workflow.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  LICENSE
  docker/jetson/Dockerfile.jetson
  docker/jetson/docker-compose.jetson.runtime.yml
  docker/jetson/docker-compose.jetson.yml
  docker/jetson/entrypoint.sh
  docker/jetson_pcm_receiver/Dockerfile.jetson
  include/core/daemon_constants.h
  include/daemon/core/thread_priority.h
  include/io/dac_capability.h
  samples/vkfft_minimal/vkfft_minimal.cpp
  samples/vkfft_overlap_save/vulkan_overlap_save.cpp
  scripts/deployment/setup-pi-usb-i2s-bridge.sh
  scripts/filters/generate_filter.py
  scripts/integration/opra_downloader.py
  scripts/testing/test_eq_effect.py
  src/daemon/audio/upsampler_builder.cpp
  src/daemon/audio_pipeline/switch_actions.cpp
  src/test_eq.cpp
  src/vulkan/vulkan_backend.cpp
  src/vulkan/vulkan_streaming_upsampler.cpp
  systemd/gpu-upsampler.service.in
  systemd/jetson/gpu-upsampler.service
  systemd/jetson/totton-audio-gadget.service
  systemd/jetson/totton-audio-web.service
  systemd/raspberry_pi/usb-i2s-bridge.service
  tests/cpp/network/test_zmq_server.cpp
  tests/gpu/test_convolution_engine.cu
  tests/python/test_docker_config_init.py
  tests/python/test_error_propagation_e2e.py
Due: mypy, vulkan-build-and-tests

Restore systemd service templates for build
  systemd/gpu-upsampler.service.in
  systemd/jetson/gpu-upsampler.service
  systemd/jetson/totton-audio-gadget.service
  systemd/jetson/totton-audio-web.service
  systemd/raspberry_pi/usb-i2s-bridge.service
Due: vulkan-build-and-tests

Docs: remove jetson troubleshooting guide
  docs/jetson/troubleshooting.md
Due: vulkan-build-and-tests

Docs: remove legacy jetson folder
  docs/jetson/README.md
  docs/jetson/architecture/data-flow.md
  docs/jetson/architecture/system-overview.md
  docs/jetson/deployment/ota-update.md
  docs/jetson/dev-autostart.md
  docs/jetson/i2s/i2s_migration_spec_820.md
  docs/jetson/i2s/ops_runbook.md
  docs/jetson/network/mdns-avahi.md
  docs/jetson/network/usb-ethernet.md
  docs/jetson/pi_bridge.md
  docs/jetson/systemd/service-design.md
  docs/jetson/usb-gadget/composite-gadget.md
  docs/jetson/usb-gadget/kernel-modules.md
  docs/jetson/usb-gadget/known-issues.md
  docs/jetson/vkfft_minimal_sample.md
  docs/jetson/vulkan_overlap_save_offline.md
Due: vulkan-build-and-tests

Docs: remove architecture folder
  docs/architecture/crossfeed_integration.md
  docs/architecture/error-codes.md
  docs/architecture/two_stage_fir_pipeline.md
Due: vulkan-build-and-tests

Docs: remove specifications and jetson_pcm_receiver
  docs/specifications/delimiter_model_sr_strategy_1096.md
  docs/specifications/delimiter_streaming_chunking.md
  docs/specifications/opra-sync.md
  jetson_pcm_receiver/.gitignore
  jetson_pcm_receiver/README.md
Due: vulkan-build-and-tests

Build: remove systemd service generation
  CMakeLists.txt
Due: vulkan-build-and-tests

Fix #1256 remove hardcoded absolute paths
  docs/setup/build.md
  scripts/testing/test_eq_effect.py
  src/daemon/audio_pipeline/switch_actions.cpp
  src/test_eq.cpp
Due: mypy, vulkan-build-and-tests

docs: rewrite README (#1258)
  README.md
Due: vulkan-build-and-tests

docs: remove outdated setup docs
  INSTALL.md
  README.md
  docs/setup/README.md
  docs/setup/pc_development.md
  docs/setup/quick_start.md
  docs/setup/security_baseline.md
  docs/setup/test.md
  docs/setup/web_ui.md
Due: vulkan-build-and-tests

docs: remove oratory mentions
  AGENTS.md
  CLAUDE.md
  NOTICE.md
  README.md
Due: vulkan-build-and-tests

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$, but not: ^third_party/
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^third_party/)
  mypy: any of: \.py$, but not: ^third_party/
  vulkan-build-and-tests: any of: not (^third_party/), but not: ^third_party/
  clang-tidy-jetson-pcm: any of: ^jetson_pcm_receiver/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^third_party/)
  export-openapi: any of: ^web/.*\.py$, but not: ^third_party/
  export-raspi-openapi: any of: ^raspberry_pi/.*\.py$, but not: ^third_party/
