Repository michihitoTakami/totton_audio_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: prepare-raspberry-pi-build, clang-tidy-raspberry-pi, mypy, export-openapi

prepare-raspberry-pi-build:
  name: Prepare raspberry_pi compile_commands
  entry: bash -c '"${CMAKE_BIN:-/usr/bin/cmake}" -S raspberry_pi -B raspberry_pi/build -DCMAKE_BUILD_TYPE=Release'
  language: system
  pass_filenames: false
  stages:
  - pre-push

clang-tidy-raspberry-pi:
  name: clang-tidy (raspberry_pi)
  entry: clang-tidy
  language: system
  args:
  - -p=raspberry_pi/build
  stages:
  - pre-push
  pass_filenames: true

mypy:
  name: mypy type checker
  entry: uv run mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - scripts
  - web
  - tests/python
  stages:
  - pre-push
  pass_filenames: false

export-openapi:
  name: Export OpenAPI spec
  entry: uv run python scripts/export_openapi.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

#699 モダンターゲット定義の整形
  web/services/eq.py
Due: mypy, export-openapi

Add TCP config helpers and dashboard status
  config.json
  web/i18n.py
  web/services/config.py
  web/static/css/main.css
  web/templates/components/status_card.html
  web/templates/pages/dashboard.html
  web/tests/test_components.py
  web/tests/test_config_service.py
Due: mypy, export-openapi

#716 KB5000ターゲット補正を別モジュール化
  web/services/eq.py
  web/services/modern_target.py
Due: mypy, export-openapi

feat: implement system page with daemon and partition controls
  web/i18n.py
  web/templates/components/sidebar.html
  web/templates/pages.py
  web/templates/pages/system_settings.html
  web/tests/test_system_settings_page.py
Due: mypy, export-openapi

#282 ソフトミュート制御の非同期化とスレッドセーフ化
  include/soft_mute.h
  src/alsa_daemon.cpp
  src/soft_mute.cpp
  tests/cpp/test_soft_mute.cpp
Due: none

#716 KB5000ターゲット定義を一箇所に集約
  web/services/modern_target.py
Due: mypy, export-openapi

#716 KB5000ターゲット定義をscripts/modern_targetへ集約
  scripts/modern_target.py
  scripts/opra.py
  web/services/modern_target.py
Due: mypy, export-openapi

#282 ソフトミュート復元処理の安全化
  src/alsa_daemon.cpp
Due: none

#716 周波数許容値を補正別に調整し誤検出を防止
  scripts/modern_target.py
  web/services/modern_target.py
Due: mypy, export-openapi

#716 type: ignoreを除去しmypy警告を解消
  scripts/opra.py
  web/services/modern_target.py
Due: mypy, export-openapi

#282 ソフトミュート復元の競合防止
  src/alsa_daemon.cpp
Due: none

#718 legacy/adminページを削除し新UIに統一
  docs/api/openapi.json
  docs/setup/web_ui.md
  tests/python/test_admin_ui.py
  web/main.py
  web/routers/status.py
  web/templates/__init__.py
  web/templates/admin.py
  web/templates/user.py
Due: mypy, export-openapi

#698 jetson/rpi ログローテとデフォルトwarn化
  docker/jetson_pcm_receiver/README.md
  docker/jetson_pcm_receiver/docker-compose.jetson.yml
  jetson_pcm_receiver/include/app_options.h
  jetson_pcm_receiver/src/app_options.cpp
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
  raspberry_pi/docker/entrypoint.sh
  raspberry_pi/include/Options.h
  raspberry_pi/src/Options.cpp
  raspberry_pi/tests/test_cli_options.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

#416 レスポンシブ最終調整とテスト強化 - モバイルメニューのフォーカス制御・ナビランドマーク・ブレークポイント最適化で各デバイスの操作性を底上げ - 新設のレスポンシブ回帰テストでアクセシビリティ属性とCSSブレークポイントの継続性を保証
  web/static/css/main.css
  web/templates/base.html
  web/templates/components/sidebar.html
  web/tests/test_responsive_layout.py
Due: mypy, export-openapi

#698 raspberry_pi README コンフリクト解消
  raspberry_pi/README.md
Due: none

#689 FastAPI最終クリーンアップとTCPドキュメント整備
  CLAUDE.md
  README.md
  docker/jetson/docker-compose.jetson.yml
  docs/api/CHANGELOG.md
  docs/architecture/error-codes.md
  docs/dev/daemon_refactor_guide.md
  docs/jetson/dev-autostart.md
  docs/jetson/systemd/service-design.md
  docs/jetson/usb-gadget/known-issues.md
  docs/roadmap.md
  docs/setup/README.md
  tests/cpp/test_config_loader.cpp
Due: none

#726 言語切替導線を追加してナビでも言語を保持
  web/i18n.py
  web/templates/base.html
  web/templates/components/sidebar.html
  web/templates/pages.py
  web/templates/pages/system_settings.html
  web/tests/test_i18n.py
  web/tests/test_system_settings_page.py
Due: mypy, export-openapi

#726 言語選択をCookieに永続化
  docs/api/openapi.json
  web/main.py
  web/tests/test_responsive_layout.py
Due: mypy, export-openapi

#728 Jetson Docker READMEに事前ビルド手順を追記
  docker/README.md
Due: none

#728 Dockerfile.jetsonに事前ビルド手順を明記
  docker/jetson/Dockerfile.jetson
Due: none

#730 Jetson composeへpcm receiver統合とポート分離
  docker/README.md
  docker/jetson/docker-compose.jetson.yml
Due: none

#730 magicboxのTCP入力公開を停止
  docker/README.md
  docker/jetson/docker-compose.jetson.yml
Due: none

Set jetson pcm receiver to loopback device
  docker/jetson_pcm_receiver/docker-compose.jetson.yml
Due: none

#733 jetson-pcm-receiverのperiod/buffer拡大
  jetson_pcm_receiver/src/alsa_playback.cpp
Due: none

#760 RTP受信: GStreamerパイプラインとAPI追加
  docker/README.md
  docker/jetson/Dockerfile.jetson
  docker/jetson/docker-compose.jetson.yml
  docs/api/openapi.json
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
  web/main.py
  web/models.py
  web/routers/__init__.py
  web/routers/rtp_input.py
  web/services/rtp_input.py
  web/tests/test_rtp_input_router.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

#760 RTP同期: RTCP付きパイプラインと設定拡張
  docs/api/openapi.json
  raspberry_pi/README.md
  web/models.py
  web/services/rtp_input.py
  web/tests/test_rtp_input_router.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

#760 RTP同期: RTCPポート公開とrtpbinリンク修正
  docker/README.md
  docker/jetson/docker-compose.jetson.yml
  web/services/rtp_input.py
Due: mypy, export-openapi

#762 RTP入力のマルチレート監視とドリフト推定
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

#762 RTP監視の再起動失敗耐性と停止時の自動起動防止
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

#762 RTP監視: レートプローブタイムアウトとAPI再起動の耐性
  web/services/rtp_input.py
  web/tests/test_rtp_input_service.py
Due: mypy, export-openapi

#769 ラズパイRTP送出の自動レート検知と再構築
  raspberry_pi/CMakeLists.txt
  raspberry_pi/Dockerfile
  raspberry_pi/README.md
  raspberry_pi/docker/entrypoint.sh
  raspberry_pi/include/HwParamsMonitor.h
  raspberry_pi/include/RtpOptions.h
  raspberry_pi/include/RtpPipelineBuilder.h
  raspberry_pi/src/CMakeLists.txt
  raspberry_pi/src/HwParamsMonitor.cpp
  raspberry_pi/src/RtpOptions.cpp
  raspberry_pi/src/RtpPipelineBuilder.cpp
  raspberry_pi/src/rtp_main.cpp
  raspberry_pi/tests/test_hw_params_monitor.cpp
  raspberry_pi/tests/test_rtp_options.cpp
  raspberry_pi/tests/test_rtp_pipeline_builder.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

#769 RTP送出の監視強化と安全な通知
  raspberry_pi/src/HwParamsMonitor.cpp
  raspberry_pi/src/rtp_main.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

#769 docker-composeにRTP送出サービス追加
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
Due: none

Expose RTP receiver control over ZeroMQ
  jetson_pcm_receiver/rtp_receiver/__init__.py
  jetson_pcm_receiver/rtp_receiver/zmq_bridge.py
  tests/python/test_rtp_zmq_bridge.py
Due: mypy

Move RTP ZeroMQ bridge to raspberry_pi side
  raspberry_pi/__init__.py
  raspberry_pi/rtp_receiver/__init__.py
  raspberry_pi/rtp_receiver/zmq_bridge.py
  tests/python/test_rtp_zmq_bridge.py
Due: mypy

Add Raspberry Pi ZeroMQ bridge sidecar service
  docker/README.md
  raspberry_pi/README.md
  raspberry_pi/rtp_receiver/__main__.py
  raspberry_pi/rtp_receiver/service.py
Due: mypy

Add docker-compose sidecar for RTP ZeroMQ bridge
  raspberry_pi/Dockerfile
  raspberry_pi/README.md
  raspberry_pi/docker-compose.yml
Due: none

Install libzmq runtime deps for bridge sidecar
  raspberry_pi/Dockerfile
Due: none

Wire latency control and stats file for RTP sender
  raspberry_pi/include/RtpPipelineBuilder.h
  raspberry_pi/src/RtpPipelineBuilder.cpp
  raspberry_pi/src/rtp_main.cpp
Due: prepare-raspberry-pi-build, clang-tidy-raspberry-pi

Disable raspberry_pi tests by default to unblock hooks
  raspberry_pi/CMakeLists.txt
Due: none

Path conditions:
  prepare-raspberry-pi-build: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$
  clang-tidy-raspberry-pi: any of: ^raspberry_pi/.*\.(c|cpp|h|hpp|cu|cuh)$ and \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  mypy: any of: \.py$
  export-openapi: any of: ^web/.*\.py$
